/* ==========================================================================
   General Styling
   ========================================================================== */

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

// Body reset
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow-x: hidden;
    height: 100%;
}

body {
    transition: right linear 300ms;
    right: 0;
    position: relative;
    font-family: $body-font;
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: normal;
    padding: 0;
    margin: 0;
    //tooltipster bug fix
    overflow-x: visible !important;
    &.fixed-header {
        padding: 103px 0 0 0;
    }
    b,
    strong {
        font-weight: $body-font-weight-bold;
    }
    @media (max-width: $max-break-tablet) {
        font-size: 95%;
    }
    @media (max-width: $max-break-mobile) {
        font-size: 88%;
    }
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

// Links
a {
    color: $link-color;
    text-decoration: none;
    cursor: pointer;
    @extend .transition;
    font-weight: $body-font-weight-bold;
    &:visited {
        color: $link-color-visited;
    }
    &:hover,
    &:focus,
    &:active {
        color: $link-color-hover;
        outline: none;
    }
    &.g-disabled {
        opacity: .4;
        pointer-events: none;
    }
}

//social links

.g-social-icons{
    a{
        padding: 4px;
        font-size: 25px;
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            color: $brand-1;
        }
    }
    span, a{
        display: inline-block;
        line-height: 36px;
        vertical-align: middle;
        margin-right: 8px;
    }
}

a.g-partner{
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    opacity: .7;
    &:hover{
        -webkit-filter: none; /* Chrome, Safari, Opera */
        filter: none;
        opacity: 1;
    }
}

.g-icon-open {
    color: $green;
    font-size: .7em;
}

.g-icon-closed {
    color: $red;
    font-size: .7em;
}

.g-icon-waitlisted {
    color: $yellow;
    font-size: .7em;
}

.ion-link{
    font-size: 1.2em;
    line-height: 0;
}

hr {
    border: none;
    border-top: 1px solid $border-color;
    margin: 1em 0;
}

hr.g-secondary {
    border: none;
    border-top: 2px solid $brand-1;
    margin: 2em auto;
}

p {
    margin: .4em 0 .8em 0;
    line-height: $p-line-height;
}

img {
    max-width: 100%;
    height: auto;
}

p.g-drop-cap:first-letter {
    float: left;
    font-size: 3.5em;
    line-height: .8em;
    padding-right: 5px;
}

//lists
ul,
ol {
    margin: .4em 0 .8em 0;
    li {
        margin-bottom: 0.6em;
    }
    ul,
    ol {
        margin: 0.4em 0 0.6em 0;
    }
}

ul.g-basic{
    padding: 0;
    list-style-type: none;
}

ol{
    padding-left: 25px;
}

ul.g-split-list{
    @media (min-width: $min-break-mobile) {
        padding-left: 2.2em;
        ul{
            padding-left: 2.2em;  
        }
        >li{
            width: 50%;
            float: left;
            &:nth-child(odd){
                padding-right: 3em;
            }
        }
        &:after{
            @include clearfix();
        }
    }
}

table {
    margin: .4em 0 .8em 0;
}

.g-overlay {
    -webkit-overflow-scrolling: auto; /* stop scrolling immediately */
    @include mui-animation(fade);
    animation-duration: 200ms;
    display: none;
    position: fixed;
    height: 100%;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    background-color: rgba(0,0,0,.8);
}

.g-scroll-up{
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: rgba(0,0,0,.1);
    color: #d9dadc;
    color: rgba(255,255,255,.8);
    z-index: 1000;
    &:hover{
       color: #fff; 
    }
}