/* ==========================================================================
   General page layout for site
   ========================================================================== */

//main body content container
.g-container{
	position: relative;
    padding-right: $gutter;
    padding-left: $gutter;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 800px){
	    width: 650px;
	}
	@media (min-width: 1000px){
	    width: 850px;
	}
	@media (min-width: 1200px){
	    width: 950px;
	}
}

//larger container
.g-container-lg{
	position: relative;
    padding-right: $gutter;
    padding-left: $gutter;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 800px){
	    width: 750px;
	}
	@media (min-width: 1000px){
	    width: 970px;
	}
	@media (min-width: 1200px){
	    width: 1150px;
	}
}

//smaller container
.g-container-sm{
	position: relative;
    padding-right: $gutter;
    padding-left: $gutter;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 800px){
	    width: 600px;
	}
	@media (min-width: 1000px){
	    width: 700px;
	}
	@media (min-width: 1200px){
	    width: 800px;
	}
}

.g-section-container{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.g-section-container-first{
	padding-top: 0;
}

.g-section-container-last{
   	padding-top: 3rem;
    padding-bottom: 5rem;
}

.loading-section{
	min-height: 1000px;
	img{
		display: block;
		margin: 250px auto;
		width: 60px;
		height: auto;
		@media (max-width: 600px){
			margin: 120px auto;
		}
	}
}

/* home -------------------------- */
.page.home.ng-enter         { animation:fadeIn 0.3s ease-in; }
//.page.home.ng-leave         { animation:fadeOut 0.5s ease-in; }

/* about ------------------------ */
.page.contact.ng-enter        { animation:fadeIn 0.3s ease-in; }
// .page.contact.ng-leave        { animation:fadeOut 0.5s both ease-in; }

/* contact ---------------------- */
//.page.work.ng-leave      { animation:fadeOut 0.5s both ease-in; }
.page.work.ng-enter      { animation:fadeIn 0.3s ease-in; }
