/* ==========================================================================
   Cards
   ========================================================================== */

//additional css for cards
.g-card{
	.g-card-actions{
		position: absolute;
		top: 0;
		right: 0;
	}
}