/* ==========================================================================
   Sidebar
   ========================================================================== */

.r-sidebar{
	.r-cta{
		margin-bottom: 8px;
		@extend .r-font-size-smaller;
		display: block;
	}
	h3{
		margin-top: 40px;
	}
}