<footer class="g-footer">
    <div class="g-footer-gr"></div>
    <div class="g-footer-main">
        <div class="g-container">
            <div class="row margin-bottom">
                <div class="col-2of8 sm-1of2">
                    <div class="g-campus-info">
                        <p><a>1301-16 Avenue NW<br>Calgary AB, T2M 0L4</a> Toll-free: 1.877.284.7248</p>
                        <meta itemprop="telephone" content="1.877.284.7248">
                        <meta itemprop="address" content="1301-16 Avenue NW Calgary AB, T2M 0L4 ">
                    </div>
                </div>
                <div class="col-3of8 sm-1of2">
                    <div class="g-social">
                        <div class="g-title">Connect with us</div>
                        <a><span class="ion-email"></span></a> 
                    </div>
                    <a class="g-text-uppercase">SAIT campus map</a>
                    <a class="g-text-uppercase">SAIT.ca</a>
                </div>
                <div class="col-2of8">
                    <a class="g-text-uppercase">Join our team</a>
                    <a class="g-text-uppercase">Contact Us</a>
                </div>
                <div class="col-1of8 sm-1of2 logo-container">
                    <a><img alt="SAIT Summer Camps Logo" src="img/theme/logo-summer.png"></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="g-overlay"></div>