<div class="g-headers-container">
    <header class="g-header-mobile">
        <ul class="g-main-menu">
            <li>
                <a href="sait-summer-camps.html">Home</a>
            </li>
            <li>
                <a>Explore Camps</a>
            </li>
            <li>
                <a>Register Now</a>
            </li>
            <li>
                <a>Our Team</a>
            </li>
        </ul>
        <ul class="g-secondary-menu">
            <li>
                <a class="g-mobile-menu-toggle mobileMenuToggle">Young Originals<span class="ion-ios-arrow-down g-icon-right"></span></a>
                <ul>
                    <li><a href="cec-home.html">Career Exploration Centre</a></li>
                    <li><a>Plan for Post Secondary</a></li>
                    <li><a>Partner with SAIT</a></li>
                    <li><a href="sait-young-originals.html">SAIT Young Originals Home</a></li>
                </ul>
            </li>
            <li><a href="camp-favourites.html" class="g-link-5"><span class="ion-star g-icon-left"></span>Camp Favourites</a></li>
        </ul>
    </header>
    <header class="g-header">
        <div class="g-container g-container-top g-clearfix">
            <div class="g-logo g-box-shadow">
                <a><img src="img/theme/logo.png" alt="SAIT Logo" itemprop="logo"></a>
            </div>
            <div class="row g-secondary-menu-row">
                <div class="col-1of1">
                    <ul class="g-secondary-menu">
                        <li><a href="sait-young-originals.html" class="tooltip-yo-camps">Young Originals<span class="ion-ios-arrow-down g-icon-right"></span></a></li>
                        <li><a href="camp-favourites.html" class="g-link-5"><span class="ion-star g-icon-left"></span>Camp Favourites</a></li>
                        <li class="g-search searchToggle"><a title="Search"><span class="ion-search"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="g-header-divide"></div>
        <div class="g-container g-container-bottom g-clearfix">
            <div class="row g-main-menu-row">
                <div class="col-1of1">
                    <div class="g-logo-sm">
                        <a><img src="img/theme/logo-sm.png" alt="SAIT Small Logo"></a>
                    </div>
                    <div class="g-mobile-menu">
                        <a class="g-nav-toggle navToggle ion-navicon-round"></a>
                        <a class="g-search-toggle searchToggle g-search ion-search"></a>
                    </div>
                    <ul class="g-main-menu">
                        <li>
                            <a href="sait-summer-camps.html">Home</a>
                        </li>
                        <li>
                            <a>Explore Camps</a>
                        </li>
                        <li>
                            <a>Register Now</a>
                        </li>
                        <li>
                            <a>Our Team</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>