<div class="g-headers-container">
    <header class="g-header-mobile">
        <ul class="g-main-menu">
            <li>
                <a href="sait-summer-camps.html">Summer Camps</a>
            </li>
            <li>
                <a href="cec-home.html">Career Exploration</a>
            </li>
            <li>
                <a>Plan for Post Secondary</a>
            </li>
            <li>
                <a>Partner with SAIT</a>
            </li>
        </ul>
        <ul class="g-secondary-menu">
            <li>
                <a>Contact Us</a>
            </li>
        </ul>
    </header>
    <header class="g-header">
        <div class="g-container g-container-top g-clearfix">
            <div class="g-logo g-box-shadow">
                <a><img src="img/theme/logo.png" alt="SAIT Logo" itemprop="logo"></a>
            </div>
            <div class="row g-secondary-menu-row">
                <div class="col-1of1">
                    <ul class="g-secondary-menu">
                        <li>
                            <a>Contact Us</a>
                        </li>
                        <li class="g-search searchToggle"><a title="Search"><span class="ion-search"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="g-header-divide"></div>
        <div class="g-container g-container-bottom g-clearfix">
            <div class="row g-main-menu-row">
                <div class="col-1of1">
                    <div class="g-logo-sm">
                        <a><img src="img/theme/logo-sm.png" alt="SAIT Small Logo"></a>
                    </div>
                    <div class="g-mobile-menu">
                        <a class="g-nav-toggle navToggle ion-navicon-round"></a>
                        <a class="g-search-toggle searchToggle g-search ion-search"></a>
                    </div>
                    <ul class="g-main-menu">
                        <li>
                            <a href="sait-summer-camps.html">Summer Camps</a>
                        </li>
                        <li>
                            <a href="cec-home.html">Career Exploration</a>
                        </li>
                        <li>
                            <a>Plan for Post Secondary</a>
                        </li>
                        <li>
                            <a>Partner with SAIT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>