<div class="headers-container headers-container-corporate">
    <div class="search-section">
        <div class="g-container g-clearfix">
            <div class="row">
                <a class="close-btn ion-close-round"></a>
                <div class="col-2of3">
                    <p>What can we help you find?</p>
                    <form method="get" action="search/search-results">
                        <div class="g-hidden-labels">
                            <label for="searchInput">Search Corporate Training</label>
                            <input type="text" class="g-form-control" id="searchInput" name="searchInput" placeholder="Search Corporate Training">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="color-banner" style="margin-top:20px; margin-bottom:-25px;"></div>
    </div>
    <header class="g-header-corporate-mobile">
        <ul class="main-menu">
            <li>
                <a href="/corporate/corporate-training">Corporate Training Home</a>
            </li>
            <li>
                <a>Custom Programs</a>
            </li>
            <li>
                <a>Services</a>
            </li>
            <li>
                <a href="/corporate/courses">Courses</a>
            </li>
        </ul>
        <ul class="secondary-menu">
            <li><a href="/corporate/contact">Contact</a></li>
            <li>
                <a class="mobileMenuToggle">About<span class="ion-ios-arrow-down g-icon-right"></span></a>
                <ul>
                    <li><a>Team</a></li>
                    <li><a>What's New</a></li>
                </ul>
            </li>
            <li>
                <a class="mobileMenuToggle">Corporate<span class="ion-ios-arrow-down g-icon-right"></a>
                <ul>
                    <li><a href="/corporate/corporate-community-engagement">Corporate & Community Engagement</a></li>
                    <li><a>Research</a></li>
                    <li><a>Employers</a></li>
                    <li><a>Donors</a></li>
                </ul>
            </li>
        </ul>
    </header>
    <header class="g-header g-header-corporate">
        <div class="g-container g-container-top g-clearfix">
            <div class="logo-sm">
                <a href="/work/sait"><img src="http://www.sait.ca/assets/images/logo-sm-legal.png" alt="SAIT Small Logo"></a>
            </div>
            <div class="logo box-shadow">
                <a href="/work/sait"><img src="http://www.sait.ca/assets/images/logo.png" alt="SAIT Logo" itemprop="logo"></a>
            </div>
            <div class="row secondary-menu-row">
                <div class="col-1of1">
                    <ul class="secondary-menu">
                        <li><a href="/corporate/contact">Contact</a></li>
                        <li><a class="tooltip-about">About<span class="ion-ios-arrow-down g-icon-right"></span></a></li>
                        <li><a class="tooltip-corporate">Corporate<span class="ion-ios-arrow-down g-icon-right"></span></a></li>
                        <li class="search searchToggle"><a href="search/search-results" target="" title="Search"><span class="ion-search"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="g-header-divide"></div>
        <div class="g-container g-container-bottom g-clearfix">
            <div class="row main-menu-row">
                <div class="col-1of1">
                    <div class="corporate-logo-sm">
                        <a href="/corporate/corporate-training"><img src="http://www.sait.ca/assets/images/logo-sm-legal.png" alt="SAIT Small Logo"></a>
                    </div>
                    <div class="g-mobile-menu">
                        <a class="navToggle ion-navicon-round"></a>
                        <a class="searchToggle search ion-search"></a>
                    </div>
                    <ul class="corporate-main-menu">
                        <li>
                            <a href="/corporate/corporate-training">Home<span>Corporate Training</span></a>
                        </li>
                        <li>
                            <a>Custom Programs<span>for Employers</span></a>
                        </li>
                        <li>
                            <a>Services<span>for Industry & Government</span></a>
                        </li>
                        <li>
                            <a href="/corporate/courses">Courses<span>for Employees & Teams</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>