<div class="headers-container">
    <div class="search-section">
        <div class="g-container g-clearfix">
            <div class="row">
                <a class="close-btn ion-close-round"></a>
                <div class="col-2of3">
                    <p>Popular pages</p>
                    <a href="/admissions" class="g-btn-3 g-btn-sm" title="Admissions">
                    Admissions
                    </a>
                    <a href="/about-sait/work-at-sait" class="g-btn-3 g-btn-sm" title="Work at SAIT">
                    Work at SAIT
                    </a>
                    <a href="/future-students/visit-campus/open-house-2018" class="g-btn-3 g-btn-sm" title="Open House 2018">
                    Open House 2018
                    </a>
                    <a href="/about-sait/campus/campus-map" class="g-btn-3 g-btn-sm" title="Campus Map">
                    Campus Map
                    </a>
                </div>
                <div class="col-1of3 sm-1of2">
                    <p>What can we help you find?</p>
                    <form method="get" action="search/search-results">
                        <div class="g-hidden-labels">
                            <label for="q">Search SAIT:</label>
                            <input type="text" class="g-form-control" id="q" name="q" placeholder="Search SAIT">
                        </div>
                    </form>
                </div>
            </div>
            <div class="info-banner-no-bg">
                <b><a href="http://www.sait.ca/future-students/featured-programs">Find a program to fit your career plan. Apply now for 2018.<span class="ion-ios-arrow-forward g-icon-right"></span></a></b>
            </div>
        </div>
        <div class="color-banner" style="margin-top:20px; margin-bottom:-25px;"></div>
    </div>
    <div class="recently-viewed">
        <div class="g-container g-clearfix">
            <div class="row">
                <a class="close-btn ion-close-round"></a>
                <div class="col-1of1">
                    <p><span id="numRecentlyViewed">0</span> Recently Viewed Full-Time Program(s) <a class="g-btn-4 g-btn-sm g-pull-right" onclick="PrintProgramsPdf(); location.href='/Sait/PrintProgramsPdf'"><span class="g-icon-left ion-android-download"></span>Download Your Career and Program Guide</a></p>
                </div>
            </div>
        </div>
    </div>
    <header class="g-header">
        <div class="g-container g-clearfix">
            <div class="logo-sm" style="display: none;">
                <a href="" itemprop="url" target=""><img src="http://www.sait.ca/assets/images/logo-sm-legal.png" alt="SAIT Small Logo"></a>
            </div>
            <div class="logo box-shadow">
                <a href="" itemprop="url" target=""><img src="http://www.sait.ca/assets/images/logo.png" alt="SAIT Logo " itemprop="logo"></a>
            </div>
            <div class="row secondary-menu-row">
                <div class="col-1of1">
                    <ul class="secondary-menu">
                        <li><a class="recentlyViewedToggle hide"><span class="ion-eye g-icon-left"></span>Recently Viewed Programs</a></li>
                        <li><a class="tooltip-login tooltipstered"><span class="ion-locked g-icon-left"></span>Login<span class="ion-ios-arrow-down g-icon-right"></span></a></li>
                        <li class="search searchToggle"><a href="search/search-results" target="" title="search"><span class="ion-search"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="row main-menu-row">
                <div class="col-1of1">
                    <div class="navToggle"><a class="g-tab-toggle ion-navicon-round"></a></div>
                    <ul class="main-menu">
                        <li class="">
                            <a href="programs-and-courses" target="">Programs &amp; Courses</a>
                            <span class="ion-chevron-down mobileNavToggle"></span>
                            <div class="mega-menu" style="top: 102px;">
                                <div class="g-container">
                                    <div class="row">
                                        <div class="col-1of4 sm-1of2">
                                            <ul class="g-primary-list">
                                                <li><a href="/programs-and-courses">View Programs A-Z</a></li>
                                                <li><a href="/programs-and-courses?activeTab=courses">View Courses A-Z</a></li>
                                                <li><a href="/programs-and-courses/continuing-education?available=Continuing Education">Continuing Education</a></li>
                                                <li><a class="intLink" href="/programs-and-courses/distance-education">Distance Education</a></li>
                                                <li><a href="/programs-and-courses/apprenticeships-and-trades">Apprenticeships &amp; Trades</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-1of4 sm-1of2">
                                            <div class="title">Other</div>
                                            <ul class="g-secondary-list">
                                                <li><a href="/programs-and-courses/academic-upgrading" title="Academic Upgrading">Academic Upgrading</a></li>
                                                <li><a href="/programs-and-courses/dual-credit-programs">Dual-Credit Programs</a></li>
                                                <li><a href="/programs-and-courses/full-time-studies/english-language-foundations">English Language Foundations</a></li>
                                                <!--<li><a href="https://saitcareermatch.ca/" target="_blank">Career Match<span class="ion-forward g-icon-right"></span></a></li>-->
                                            </ul>
                                        </div>
                                        <div class="col-1of4 sm-1of2">
                                            <div class="title">Corporate Training</div>
                                            <ul class="g-secondary-list">
                                                <li><a href="https://www.sait-training.com/solutions.html" rel="noopener" target="_blank">Workforce Development Solutions<span class="ion-forward g-icon-right"></span></a></li>
                                                <li><a href="https://www.sait-training.com/training.html" rel="noopener" target="_blank">Training Areas<span class="ion-forward g-icon-right"></span></a></li>
                                                <li><a href="https://www.sait-training.com/about-us.html" rel="noopener" target="_blank">About Corporate Training<span class="ion-forward g-icon-right"></span></a></li>
                                                <li><a class="all-link" href="https://www.sait-training.com" rel="noopener" target="_blank">View All<span class="ion-ios-arrow-forward g-icon-right"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="col-1of4 sm-1of2">
                                            <div class="title">More Offerings</div>
                                            <ul class="g-secondary-list">
                                                <li><a href="http://culinarycampus.ca" rel="noopener" target="_blank">Culinary Campus<span class="ion-forward g-icon-right"></span></a></li>
                                                <li><a href="https://tastemarket.ca" rel="noopener" target="_blank">Tastemarket<span class="ion-forward g-icon-right"></span></a></li>
                                                <li><a href="http://saitsummercamps.ca/" rel="noopener" target="_blank">Summer Camps<span class="ion-forward g-icon-right"></span></a></li>
                                                <li><a href="/student-life/your-campus/sait-recreation" title="SAIT Recreation">SAIT Recreation</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="info-banner info-banner-bottom"><a href="http://www.sait.ca/future-students/visit-campus/open-house-2018">Join us at our Open House, Saturday, Feb. 10, 9 am - 4 pm. <span class="ion-ios-arrow-forward g-icon-right"></span></a></div>
                                    </div>-->
                                <div class="info-banner info-banner-bottom"><a href="http://www.sait.ca/future-students/featured-programs">Find a program to fit your career plan. Apply now for 2018. <span class="ion-ios-arrow-forward g-icon-right"></span></a></div>
                            </div>
                        </li>
                        <li class="">
                            <a href="admissions" target="">Admissions</a>
                            <span class="ion-chevron-down mobileNavToggle"></span>
                            <div class="mega-menu" style="top: 102px;">
                                <div class="g-container">
                                    <div class="row">
                                        <div class="col-1of4 sm-1of2">
                                            <ul class="g-primary-list">
                                                <li><a href="/admissions/admission-and-selection/admission-requirements">Admission Requirements</a></li>
                                                <li><a href="/admissions/how-to-apply/how-to-apply">How to Apply</a></li>
                                                <li><a href="/admissions/how-to-apply/how-to-apply-checklist">How to Apply Checklist</a></li>
                                                <li><a href="/admissions/admission-and-selection/submit-your-transcripts-and-documentation">Transcripts and/or Documentation</a></li>
                                                <li><a href="/admissions/admission-and-selection/testing-services">Testing Services</a></li>
                                                <li><a href="/admissions/admission-and-selection/international-document-assessment">International Document Assessment</a></li>
                                                <li><a href="/admissions/admission-and-selection/english-proficiency">English Proficiency</a></li>
                                                <li><a class="all-link" href="/admissions">View All<span class="ion-ios-arrow-forward g-icon-right"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="col-1of4 sm-1of2">
                                            <div class="title">International Students</div>
                                            <ul class="g-secondary-list">
                                                <li><a href="/international-students/programs-for-international-students">Programs for International Students</a></li>
                                                <li><a href="/international-students/international-student-tuition-and-fees">International Tuition &amp; Fees</a></li>
                                                <li><a href="/international-students/how-to-apply">How to Apply</a></li>
                                                <li><a href="/admissions/how-to-apply/how-to-apply-checklist">How to Apply Checklist</a></li>
                                                <li><a href="/international-students/study-and-live-in-canada">Study and Live in Canada</a></li>
                                                <li><a class="all-link" href="/international-students">View All<span class="ion-ios-arrow-forward g-icon-right"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="col-1of4 sm-1of2">
                                            <div class="title">Tuition and Financial Aid</div>
                                            <ul class="g-secondary-list">
                                                <li><a href="/admissions/tuition-and-financial-aid/tuition-payment-and-planning">Tuition Payment and Planning</a></li>
                                                <li><a href="/admissions/tuition-and-financial-aid/payment-options">Payment Options</a></li>
                                                <li><a href="/admissions/tuition-and-financial-aid/student-loans">Student Loans</a></li>
                                                <li><a href="/admissions/tuition-and-financial-aid/student-awards">Student Awards</a></li>
                                                <li><a class="all-link" href="/admissions/tuition-and-financial-aid">View All<span class="ion-ios-arrow-forward g-icon-right"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="col-1of4 sm-1of2">
                                            <div class="title">Events</div>
                                            <ul class="g-secondary-list">
                                                <li><a class="all-link" href="/event-calendar">View All<span class="ion-ios-arrow-forward g-icon-right"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-banner info-banner-bottom"><a href="http://www.sait.ca/future-students/featured-programs"> Find a program to fit your career plan. Apply now for 2018. <span class="ion-ios-arrow-forward g-icon-right"></span></a></div>
                            </div>
                        </li>
                        <li>
                            <a href="student-life" target="">Student Life</a>
                            <span class="ion-chevron-down mobileNavToggle"></span>
                            <div class="mega-menu" style="top: 102px;">
                                <div class="g-container">
                                    <div class="row">
                                        <div class="col-1of4 sm-1of2">
                                            <div class="title">Academic Support</div>
                                            <ul class="g-secondary-list">
                                                <li><a href="/student-life/academic-support/academic-coaching">Academic Coaching</a></li>
                                                <li><a href="/student-life/academic-support/tutoring-services">Tutoring services</a></li>
                                                <li><a href="/admissions/admission-and-selection/recognition-of-prior-learning">Recognition of Prior Learning</a></li>
                                                <li><a href="/student-life/reg-erhardt-library/reg-erhardt-library">Library</a></li>
                                                <li><a href="/student-life/academic-support/accessibility-services">Accessibility</a></li>
                                                <li><a class="all-link" href="/student-life">View All<span class="ion-ios-arrow-forward g-icon-right"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="col-1of4 sm-1of2">
                                            <div class="title">Health, Wellness &amp; Security</div>
                                            <ul class="g-secondary-list">
                                                <li><a href="/student-life/health-wellness-and-safety/student-health-and-dental-plan">Student Health &amp; Dental</a></li>
                                                <li><a href="/student-life/health-wellness-and-safety/student-development-and-counselling">Student Development &amp; Counselling</a></li>
                                                <li><a href="/student-life/health-wellness-and-safety/safewalk">Safewalk</a></li>
                                                <li><a href="/about-sait/campus/campus-security">Campus Security</a></li>
                                                <li><a class="all-link" href="/student-life">View All<span class="ion-ios-arrow-forward g-icon-right"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="col-1of4 sm-1of2">
                                            <div class="title">Your Campus</div>
                                            <ul class="g-secondary-list">
                                                <li><a href="/student-life/your-campus/sait-recreation">SAIT Recreation</a></li>
                                                <li><a href="http://www.bookstore.sait.ca/" rel="noopener" target="_blank">SAIT Bookstore <span class="ion-forward g-icon-right"></span></a></li>
                                                <li><a href="/about-sait/campus/dining-on-campus">Dining on Campus</a></li>
                                                <li><a href="/about-sait/campus/housing">Housing</a></li>
                                                <li><a class="all-link" href="/student-life">View All<span class="ion-ios-arrow-forward g-icon-right"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="col-1of4 sm-1of2">
                                            <div class="title">Student Services</div>
                                            <ul class="g-secondary-list">
                                                <li><a href="/about-sait/campus/helpline">Helpline</a></li>
                                                <li><a href="/student-life/student-services/technical-support">Technical Support</a></li>
                                                <li><a href="/student-life/student-services/office-of-the-registrar/order-transcripts-and-credentials">Order Transcripts &amp; Credentials</a></li>
                                                <li><a href="/student-life/your-campus/student-employment-and-career-centre">Student Employment Services</a></li>
                                                <li><a href="/student-life/student-services/office-of-the-registrar">Office of the Registrar</a></li>
                                                <li><a class="all-link" href="/student-life">View All<span class="ion-ios-arrow-forward g-icon-right"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="">
                            <a href="about-sait" target="">About SAIT</a>
                            <span class="ion-chevron-down mobileNavToggle"></span>
                            <div class="mega-menu" style="top: 102px;">
                                <div class="g-container">
                                    <div class="row">
                                        <div class="col-1of4 sm-1of2">
                                            <div class="title">Campus</div>
                                            <ul class="g-secondary-list">
                                                <li><a href="/about-sait/campus/campus-map">Campus Map</a></li>
                                                <li><a href="http://tour.sait.ca/gsv/tour-sait.html" rel="noopener" target="_blank">Tour SAIT's Campus<span class="ion-forward g-icon-right"></span></a></li>
                                                <li><a href="/about-sait/campus/transit-and-parking">Transit and Parking</a></li>
                                                <li><a href="/about-sait/campus/campus-security">Campus Security</a></li>
                                                <li><a href="/about-sait/campus/contact-us">Contact Us</a></li>
                                                <li><a href="/about-sait/campus/dining-on-campus">Dining on Campus</a></li>
                                                <li><a class="all-link" href="/about-sait">View All<span class="ion-ios-arrow-forward g-icon-right"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="col-1of4 sm-1of2">
                                            <div class="title">Who We Are</div>
                                            <ul class="g-secondary-list">
                                                <li><a href="/about-sait/who-we-are/history-of-sait">History of SAIT</a></li>
                                                <li><a href="/about-sait/who-we-are/sait-schools">SAIT Schools</a></li>
                                                <li><a href="/applied-research-and-innovation-services">Applied Research and Innovation Services</a></li>
                                                <li><a href="/about-sait/news-and-events">News &amp; Events</a></li>
                                                <li><a href="/about-sait/media-centre">Media Centre</a></li>
                                                <li><a href="/about-sait/who-we-are/publications">Publications </a></li>
                                            </ul>
                                        </div>
                                        <div class="col-1of4 sm-1of2">
                                            <div class="title">Administration</div>
                                            <ul class="g-secondary-list">
                                                <li><a href="/about-sait/administration/departments">Departments</a></li>
                                                <li><a href="/about-sait/administration/governance">Governance</a></li>
                                                <li><a href="/about-sait/work-at-sait/policies-and-procedures">Policies &amp; Procedures</a></li>
                                                <li><a href="/about-sait/work-at-sait">Work at SAIT</a></li>
                                                <li><a class="all-link" href="/about-sait">View All<span class="ion-ios-arrow-forward g-icon-right"></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="col-1of4 sm-1of2">
                                            <div class="title">Events</div>
                                            <ul class="g-secondary-list">
                                                <li><a class="all-link" href="/event-calendar">View All<span class="ion-ios-arrow-forward g-icon-right"></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="alumni" target="">Alumni</a>
                            <span class="ion-chevron-down mobileNavToggle"></span>
                            <div class="mega-menu" style="top: 102px;">
                                <div class="g-container">
                                    <div class="row">
                                        <div class="col-1of4 g-empty"></div>
                                            <div class="col-1of4 sm-1of2">
                                                <ul class="g-primary-list">
                                                    <li><a href="/alumni/alumni-news">Alumni News</a></li>
                                                    <li><a href="/alumni/link-magazine">LINK Magazine</a></li>
                                                    <li><a href="/alumni/alumni-awards">Alumni Awards</a></li>
                                                    <li><a href="/alumni/alumni-perks">Alumni Perks</a></li>
                                                    <li><a href="/alumni/stay-connected">Stay Connected</a></li>
                                                    <li><a href="/alumni">View All &gt;</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-1of4 sm-1of2">
                                                <div class="title">Donors</div>
                                                    <ul class="g-secondary-list">
                                                        <li><a href="/donors">Donors Home</a></li>
                                                        <li><a href="/donors/gifts-at-work">Gifts at Work</a></li>
                                                        <li><a href="/donors/ways-to-give">Ways to Give</a></li>
                                                        <li><a href="/donors/donate-to-sait">Donate to SAIT</a></li>
                                                        <li><a href="/donors/donate-to-sait/report-to-donors">Reports to Donors</a></li>
                                                        <li><a class="all-link" href="/donors">View All<span class="ion-ios-arrow-forward g-icon-right"></span></a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-1of4 sm-1of2">
                                                    <div class="title">Alumni Events</div>
                                                    <ul class="g-secondary-list">
                                                        <li><a class="all-link" href="/event-calendar">View All<span class="ion-ios-arrow-forward g-icon-right"></span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>