/* ==========================================================================
   Global Footer
   ========================================================================== */

footer.g-footer{
	background: $bg-color-4;
	color: $grey-4;
	ul, li{
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: inline-block;
	}
	a:not(.g-btn){
		text-shadow: 1px 1px 8px #000;
		display: block;
		color: $grey-5;
		&:hover{
			color: #fff;
			text-shadow: 1px 1px 15px #000;
		}
	}
	.footer-top{
		text-transform: uppercase;
		ul{
			width: 100%;
			li{
				display: inline-block;
				padding: 0 35px 0 0;
				a:not(.g-btn){
					@extend .g-font-small;
					line-height: 55px;
				}
				&:last-child{
					float: right;
					padding: 10px 0;
					a.g-btn{
						box-shadow: 1px 1px 4px rgba(0, 0, 0,.8);
					}
				}
				@media (max-width: $max-break-tablet) {
					display: inline-block;
					padding: 0 25px 0 0;
					a:not(.g-btn){
						line-height: 1em;
						padding: 20px 0 5px;
					}
					&:last-child{
						display: block;
						float: none;
						padding: 25px 0 20px;
					}
				}
			}
		}
	}
	.footer-main{
		border-top: 1px solid rgba(255,255,255,.15);
		border-bottom: 1px solid rgba(255,255,255,.15);
		padding: 2em 0 .3em;
		.title{
			font-weight: bold;
			color: $grey-4;
			margin-bottom: 10px;
		}
		.logo{
			float: right;
			text-align: right;
			a{
				display: inline-block;
				img{
				    height: 45px;
				    width: auto;
	    			margin: 18px 0 18px 0;
	    			display: block;
				}
			}
			@media (max-width: $max-break-tablet) {
				float: left;
				text-align: left;
			    clear: both;
			    a img{
			    	height: 30px;
		    	    margin-bottom: 5px;
			    }
			}
		}
		.campus-info{
			a{
				text-decoration: underline;
				margin-bottom: 8px;
			}
		}
		.social{
			a{
				display: inline-block;
				font-size: 28px;
				padding: 4px;
				margin-right: 10px;
				transform: scale(.9);
				transition: transform 100ms linear;
				&:hover{
					transform: scale(1);
				}
			}
		}
	}
	.footer-bottom{
		ul{
			width: 100%;
			li{
				display: inline-block;
				padding: 10px 25px 13px 0;
				a{
					text-decoration: underline;
					font-weight: normal;
					@extend .g-font-small;
				}
			}
		}
	}
}

