/* ==========================================================================
   Tooltips - tooltipster
   ========================================================================== */


.tooltipster-default {
	border-radius: 5px;
	background: #fff;
	box-shadow: 2px 0px 10px rgba(0,0,0,0.2);
	color: $grey-3;
	border: 1px solid #f0f0f0;
}

.tooltipster-default .tooltipster-content {
	font-family: $body-font;
	font-size: $base-font-size;
	line-height: $p-line-height;
	padding: 10px 15px;
}

.tooltip-style{
	border-bottom: 1px dashed $grey-3;
	cursor: default;
}