/* ==========================================================================
   General page layout/layout helpers for site
   ========================================================================== */

.g-container{
	margin-right: auto;
	margin-left: auto;
	padding-left: $gutter;
	padding-right: $gutter;
	@media (min-width: 1000px) {
		width: 1000px;
	}
	@media (min-width: 1100px) {
		width: 1100px;
	}
	@media (min-width: 1200px) {
		width: 1200px;
	}
}

.g-container-lg{
	margin-right: auto;
	margin-left: auto;
	padding-left: $gutter;
	padding-right: $gutter;
	@media (min-width: 1000px) {
		width: 1000px;
	}
	@media (min-width: 1100px) {
		width: 1100px;
	}
	@media (min-width: 1200px) {
		width: 1200px;
	}
	@media (min-width: 1300px) {
		width: 1300px;
	}
}

.g-container-sm{
	margin-right: auto;
	margin-left: auto;
	padding-left: $gutter;
	padding-right: $gutter;
	@media (min-width: $min-break-mobile-nav) {
		width: 800px;
	}
}

.g-container-xs{
	margin-right: auto;
	margin-left: auto;
	padding-left: $gutter;
	padding-right: $gutter;
	@media (min-width: $min-break-mobile-nav) {
		width: 700px;
	}
}

.g-section{
	padding-top: 3.3em;
	padding-bottom: 3.4em;
	&.g-first{
		padding-top: 0;
	}
	@media (max-width: $max-break-tablet) {
		padding-top: 3em;
		padding-bottom: 3.1em;
	}
	@media (max-width: $max-break-mobile) {
		padding-top: 2.5em;
		padding-bottom: 2.6em;
	}
}

.g-section.g-section-secondary{
	background-color: $bg-color-2;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
}

.g-sidebar-template{
	.g-sidebar{
		width: 28%;
		float: right;
		padding-bottom: 3.5em;
		padding-top: 3em;
		padding-right: 0;
		&.g-no-top-padding{
			padding-top: 0;
		}
		@media (max-width: $max-break-mobile-nav) {
			width: 100%;
			&.g-no-top-padding{
				padding-top: 3em;
			}
		}
	}
	.g-body-content{
		width: 72%;
		float: right;
		padding-bottom: 4.5em;
		padding-top: 3em;
		padding-right: 1em;
		padding-left: 6em;
		h1{
			margin-top: 0;
		}
		@media (max-width: $max-break-desktop) {
			padding-right: 0;
			padding-left: 3em;
		}
		@media (max-width: $max-break-mobile-nav) {
			width: 100%;
			padding-left: 0;
			padding-top: 2em;
			padding-bottom: 3em;
		}
	}
	&:after {
        @include clearfix();
    } 
}