/* ==========================================================================
   Global Footer
   ========================================================================== */

footer{
	position: relative;
	width: 100%;
	z-index: 1000;
	text-align: center;
	padding: 2em 0;
	background-color: $primary-3;
	ul{
		list-style-type: none;
		padding: 0;
		margin: 0 0 0 0;
		li{
			margin: 0;
			padding: 0;
			display: inline-block;
			a{
				text-decoration: none;
				color: $primary-2;
				padding: .5em;
				i{
					display: inline-block;
					background-color: #fff;
					color: $primary-1;
					border-radius: 50%;
					width: 30px;
					height: 30px;
					text-align: center;
					line-height: 29px !important;
					margin-right: 8px;
					font-size: 14px;
					@extend .transition;
				}
				&:hover, &:focus{
					color: $primary-1;
					i{
						color: #fff;
						background-color: $primary-1;
					}
				}
			}
		}
	}
}
	