/* ==========================================================================
   Global Footer
   ========================================================================== */

footer{
	bottom: -100%;
	position: relative;
	width: 100%;
	z-index: 1000;
	text-align: center;
	padding: 2em 0;
	background-color: #3E3B42;
	a{
		color: #fff;
	}
	ul{
		list-style-type: none;
		padding: 0;
		margin: 0 0 .8em 0;
		li{
			margin: 0;
			padding: 0;
			display: inline-block;
			a{
				text-decoration: none;
				color: #fff;
				font-size: 1.5em;
				padding: .5em;
			}
		}
	}
	.g-footer-links{
		a{
			display: block;
			font-size: .75em;
			margin-top: .3em;
		}
	}
}

body.contact, body.work, body.styles{
	footer{
		position: relative;
	}
}
	