/* ==========================================================================
   Global Header
   ========================================================================== */

header{
	padding: 0;
	background-color: #fff;
	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
		width: 100%;
		li{
			padding: 0;
			margin: 0;
			float: left;
			a{
				font-family: $heading-font;
				color: $grey-1;
				display: inline-block;
				text-align: center;
				width: 100%;
				padding: 0 30px;
				line-height: 70px;
				font-size: 15px;
				text-transform: uppercase;
				text-decoration: none;
				margin-right: 20px;
				font-weight: 900;
				&:hover{
					color: $primary-3;
				}
			}
			&.logo{
				a{
					padding: 20px;
					line-height: 0;
					img{
						height: 30px;
					}
				}
			}
		}
	}
}

body.home{
	header li a.home{
		border-bottom: 4px solid $grey-2;
	}
}

body.work{
	header li a.work{
		border-bottom: 4px solid $grey-2;
	}
}