/* ==========================================================================
   Type
   ========================================================================== */

//Headings 

h1, h2, h3, h4, h5, h6{
	font-family: $heading-font;
	color: $heading-color;
	font-weight: $heading-font-weight;
	a{
		@extend .transition;
		color: $heading-link-color;
		text-decoration: underline;
		&:hover, &:focus {
			text-decoration: underline;
			color: $heading-hover-color;
		}
	}
}

h1{
	margin: 1em 0 0 0 !important;
	font-size: 5em;
	font-weight: 900;
	color: $primary-1;
}

h2{
	font-size: 3em;;
}

h3{
	font-size: 2em;
	color: $heading-color-secondary;
}

h4{
	font-size: 1.1em;
	color: $heading-color-secondary;
}

h5{
	font-size: 1em;
}

h6{
	font-size: .9em;
}

h1, h2, h3, h4, h5, h6{
	line-height: 1.2em;
	margin: 1em 0 0.5em;
}

h1 + h2, h2 + h3, h3 + h4, h4 + h5, h5 + h6{
	margin-top: 0;
}

