
    <div class="g-container-sm contact-body g-section-container-last">
        <h1>Contact.</h1>
        <div ng-hide="messageSending || messageSent || messageError">
            <h2>Fill out the form below to get in touch with me and I will get back to you shortly.</h2>
            <h3>Or you can email me directly at <a href="mailto:justine@res.im">justine@res.im</a>.</h3>
            <p><em>*All form fields are required</em></p>
            <br>
            <div class="g-btn-toggle">
                <a ng-click="contactForm=true; quoteForm=false" ng-class="{'g-active':contactForm === true}" class="g-btn g-active">General Inquiry</a>
                <a ng-click="contactForm=false; quoteForm=true" ng-class="{'g-active':contactForm === false}" class="g-btn">Request a Quote</a>
            </div>
        </div>
        <br>
        <br>
        <div class="sending-msg" ng-show="messageSending">
            <img alt="loading" src="img/loading.gif">
            <h2>Your message is being sent...</h2>
        </div>
        <div class="sent-msg" ng-show="messageSent">
            <h2>Thank you for your message!</h2>
            <h3>I will get back to you shortly.</h3>
        </div>
        <div class="error-msg" ng-show="messageError">
            <h2>Something went wrong.</h2>
            <h3>Please <a ng-click="reloadForm();">try again</a> or email me directly at <a href="mailto:justine@res.im">justine@res.im</a>.</h3>
        </div>
        <div ng-show="contactForm">
            <form id="g-contact-form" name="myContactForm">
                <div class="line">
                    <div class="g-form-group unit size1of2 sm-size1of2">
                        <label for="fName">First Name</label>
                        <input ng-model="form.fname" type="text" class="g-form-control" id="fName" placeholder="First Name" required>
                    </div>
                    <div class="g-form-group unit size1of2 sm-size1of2">
                        <label for="lName">Last Name</label>
                        <input ng-model="form.lname" type="text" class="g-form-control" id="lName" placeholder="Last Name" required>
                    </div>
                </div>
                <div class="g-form-group">
                    <label for="email">Email</label>
                    <input ng-model="form.email" type="text" class="g-form-control" id="email" placeholder="Email Address" type="email" required>
                </div>
                <div class="g-form-group">
                    <label for="textBox">How can I help you?</label>
                    <textarea ng-model="form.message" rows="5" class="g-form-control" id="textBox" placeholder="How can I help you?" required></textarea> 
                </div>
                <div class="g-form-group">
                    <button ng-disabled="myContactForm.$invalid" ng-click="sendEmail();" name="submit" type="submit" class="g-btn" id="contact-submit">Submit</button>
                </div>
            </form>
        </div>
        <div ng-show="quoteForm">
            <form id="g-quote-form" name="myQuoteForm">
                <div class="line">
                    <div class="g-form-group unit size1of2 sm-size1of2">
                        <label for="fName2">First Name</label>
                        <input ng-model="qform.fname" type="text" class="g-form-control" id="fName2" placeholder="First Name" required>
                    </div>
                    <div class="g-form-group unit size1of2 sm-size1of2">
                        <label for="lName2">Last Name</label>
                        <input ng-model="qform.lname" type="text" class="g-form-control" id="lName2" placeholder="Last Name" required>
                    </div>
                </div>
                <div class="g-form-group">
                    <label for="email2">Email</label>
                    <input type="text" ng-model="qform.email" class="g-form-control" id="email2" placeholder="Email Address" type="email" required>
                </div>
                <div class="line">
                    <div class="g-form-group unit size1of2 sm-size1of2">
                        <label for="projectType">Project Type</label>
                        <select ng-model="qform.projectType" id="projectType" class="g-form-control" required>
                            <option value="">Select an option</option>
                            <option>Mobile Application</option>
                            <option>Website</option>
                            <option>E commerce Website</option>
                            <option>Custom Web Application</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div class="g-form-group unit size1of2 sm-size1of2">
                        <label for="budget">Budget:</label>
                        <select ng-model="qform.budget" id="budget" class="g-form-control" required>
                            <option value="">Select an option</option>
                            <option>$500 - $1,000</option>
                            <option>$1000 - $5,000</option>
                            <option>$5000 - $10,000</option>
                            <option>$10,000 - $30,000</option>
                            <option>$30,000 + </option>
                        </select>
                    </div>
                </div>
                <div class="g-form-group">
                    <label for="textBox2">Tell me about your project</label>
                    <textarea ng-model="qform.message" rows="5" class="g-form-control" id="textBox2" placeholder="Tell me about your project" required></textarea>
                </div>
                <div class="g-form-group">
                    <button ng-disabled="myQuoteForm.$invalid" ng-click="sendQuoteEmail()" name="submit" type="submit" class="g-btn" id="contact-submit-quote">Submit</button>
                </div>
            </form>
        </div>
    </div>


