
<div class="f-container-container">
	<div class="f-container h-12">
	   <div class="t-4 l-3 w-6 h-4">
	        <div class="f-unit testing-unit-f">
	        	<div class="inner">
	        		<div class="centered">
        				<h1>Hello, and welcome!</h1>
        				<h2>I am Justine. I build websites, mobile apps and custom web applications.</h2>
        			</div>
        		</div>
	        </div>                
	    </div>
	    <div class="t-0 l-3 w-3 h-4">
	       <div class="f-unit testing-unit-f" style="background: rgba(108, 4, 66, 0.1);">
				<div class="inner">
					<div class="centered">
						<span class="ti-mobile"></span>
						<div class="g-hidden">
							<h3>Mobile</h3>
		            		<h4>Responisve websites and custom native apps.</h4>
	            		</div>
					</div>		
				</div>
	       </div>
	    </div>
	    <div class="t-0 l-6 w-6 h-4">
	        <div class="f-unit testing-unit-f" style="background: rgba(108, 4, 66, 0.2);">
				<div class="inner">
					<div class="centered">
						<span class="ti-desktop"></span>
						<div class="g-hidden">
							<h3>Websites</h3>
		            		<h4>From simple small business Wordpress sites to large custom designed e-commerce online businesses.</h4>
	            		</div>
            		</div>
				</div>
	        </div>                
	    </div>
	    <div class="t-8 l-6 w-3 h-4" ng-click="alertit('asd');">
	        <div class="f-unit testing-unit-f" style="background: rgba(108, 4, 66, 0.9);">
		        <div class="inner">
		        	<div class="centered">
						<span class="ti-tablet"></span>
						<div class="g-hidden">
							<h3>Custom Apps</h3>
		            		<h4>Professional custom designed and built web applications tailored to suit your clients specific needs.</h4>
	            		</div>
					</div>
				</div>               
			</div>
	    </div>
	    <div class="t-0 l-0 w-3 h-8">
	        <div class="f-unit testing-unit-f" style="background: rgba(108, 4, 66, 0.3);">
				<div class="inner">
					<div class="centered">
        				<h3>Work</h3>
        			</div>
        		</div>
	        </div>                
	    </div>
	    <div class="t-4 l-9 w-3 h-8">
	        <div class="f-unit testing-unit-f" style="background: rgba(108, 4, 66, 0.5);">     
	        	<div class="inner">
	        		<div class="centered">
        				<h3>Contact</h3>
        			</div>
        		</div>      	   
	        </div>
        </div>
        <div class="t-8 l-0 w-6 h-4">
	        <div class="f-unit testing-unit-f" style="background: #fff">
	        	<div ng-repeat="item in companies" class="flip-container">
	                <div class="flipper">
	                    <div ng-repeat="i in item" class="g-company front" style="background-image: url(img/{{i}}); background-size: 60% auto; background-repeat: no-repeat; background-position: center center;">

	                    </div>
	                </div>
	            </div>
	        </div>                
	    </div>  
	</div>
</div>
