
<section class="g-container-lg g-section-container g-section-container-first animated fadeIn">
	<div class="row margin-bottom">
		<div class="col-3of5 sm-1of1">
			<h1>Justine Lileikis</h1>
			<p class="g-font-size-larger"><b>Lead developer at <a href="https://res.im" target="_blank">Res.im</a></b></p>
			<p>Justine is the type of web developer who not only writes quality code but is also a great collaborator and communicator. With a BA in Visual Arts from Western University in addition to her Graduate Certificate in Interactive Media, Justine has a keen UX and visual design sense that ensures the value of research, strategy and design is carried over into everything she builds.</p>
			<br>
			<a class="cta" href="#work">Selected work <i class="fas fa-long-arrow-alt-right"></i></a>
		</div>
		<div class="col-2of5 g-sm-hidden g-xs-hidden">
			<img src="img/profile2.jpg">
		</div>
	</div>
</section>

<section class="g-web-section">
	<div class="row">
		<div class="col-1of7 g-empty g-pull-right">

		</div>
		<div class="col-2of7 g-pull-right">
			<h2><a href="#work?type=websites">Websites<i class="fas fa-long-arrow-alt-right"></i></a></h2>
		</div>
		<div class="col-4of7">
			<img src="img/web.png">
		</div>
	</div>
</section>

<section class="g-app-section">
	<div class="row">
		<div class="col-1of7 g-empty">

		</div>
		<div class="col-2of7">
			<h2><a href="#work?type=webapplications">Web applications<i class="fas fa-long-arrow-alt-right"></i></a></h2>			
		</div>
		<div class="col-4of7">
			<img src="img/app.png">
		</div>
		
	</div>
</section>

<section class="g-guide-section">
	<div class="row">
		<div class="col-1of7 g-empty g-pull-right">

		</div>
		<div class="col-2of7 g-pull-right">
			<h2><a href="#work?type=styleguides">Style Guides and Design Systems<i class="fas fa-long-arrow-alt-right"></i></a></h2>
		</div>
		<div class="col-4of7">
			<img src="img/guide.png">
		</div>
	</div>
</section>

<footer class="g-clear">
	<div class="g-container-lg">
		<h3>Get in touch</h3>
		<div class="g-footer-links">
			<ul>
				<li><a href="https://ca.linkedin.com/in/justinelileikis" target="_blank"><i class="fab fa-linkedin-in"></i>LinkedIn</a></li>
				<li><a href="https://res.im/about/justine-lileikis/" target="_blank"><i class="fas fa-user"></i>Res.im</a></li>
				<li><a href="mailto:justinelileikis@gmail.com"><i class="fas fa-envelope"></i>Email</a></li>
			</ul>
		</div>
	</div>
</footer>