
<section class="g-container-lg g-section-container">
	<div class="row margin-bottom">
		<div class="col-3of5 sm-2of3">
			<h1>Justine Lileikis</h1>
			<p class="g-font-size-larger"><b>Software developer at <a href="https://res.im" target="_blank">Res.im</a></b></p>
		</div>
		<div class="col-2of5 sm-1of3">
			<img src="img/justine-bw.png">
		</div>
	</div>
</section>

<section class="g-container-sm g-section-container g-about-section">
	<div class="row">
	<!-- 	<div class="col-1of2">
			<h2>About Justine</h2>
			<p>Here is where I will say some stuff....</p>
		</div>
		<div class="col-1of3">
			<img src="img/justine-bw.png">
		</div> -->
		
	</div>
</section>

<section class="g-container-lg g-section-container">
	<!-- <h2>Featured work</h2> -->
</section>

<footer class="g-clear">
	<div class="g-container-sm">
		<div class="g-footer-links">
			<ul>
				<li><a href="https://ca.linkedin.com/in/justinelileikis" target="_blank"><i class="fab fa-linkedin-in"></i>LinkedIn</a></li>
				<li><a href="https://res.im/about/justine-lileikis/" target="_blank"><i class="fas fa-user"></i>Profile on Res.im</a></li>
				<li><a href="mailto:justinelileikis@gmail.com"><i class="fas fa-envelope"></i>Email</a></li>
			</ul>
		</div>
	</div>
</footer>