
<div class="g-container">
    <h1>Global style guide</h1>

    <h2>h2 Heading</h2>
    <h3>h3 Heading</h3>
    <h4>h4 Heading</h4>
    <h5>h5 Heading</h5>
    <h6>h6 Heading</h6>

    <br><br>
      
    <p>Regular body font</p>
    <p class="g-text-color-dark">Dark text color</p>
    <p class="g-text-color-light">Light text color</p>
    <p><strong>Bolder body font</strong></p>
    <p><em>Italic body font</em></p>
    <p class="g-font-size-small">Small body font</p>
    <p class="g-font-size-smaller">Smaller body font</p>
    <p class="g-font-size-smallest">Smallest body font</p>
    <p class="g-font-size-large">Large body font</p>
    <p class="g-font-size-larger">Larger body font</p>
    <p class="g-font-size-largest">Largest body font</p>

    <h2 id="links">Links</h2>
    <hr>
    <a>Standard link</a><br>
    <a class="cta">Secondary link<i class="fas fa-arrow-right"></i></a><br>

    <h2 id="buttons">Buttons</h2>
    <hr>

    <a class="g-btn">Primary Button</a>
    <a class="g-btn g-active">Active State</a>
    <a class="g-btn g-disabled">Disabled</a>
    <br><br>
    <a class="g-btn g-btn-block">Primary Block Button</a>
    <br><br>
    <a class="g-btn g-btn-lg">Large Button</a>
    <a class="g-btn g-btn-sm">Small Button</a>
    <br><br>
    <a class="g-btn g-btn-secondary">Secondary Button</a>
    <a class="g-btn g-active g-btn-secondary">Active State</a>
    <a class="g-btn g-btn-secondary g-disabled">Disabled</a>
    <br><br>

    <h2 id="colours">Colours</h2>
    <hr>  

    <h3>Background Colours</h3>
    <hr class="g-secondary">
    <div class="row margin-bottom">
        <div class="col-1of4">
            <div style="height: 40px" class=" g-bg-color-primary"></div>
        </div>
        <div class="col-1of4">
            <div style="height: 40px" class=" g-bg-color-secondary"></div>
        </div>
        <div class="col-1of4">
            <div style="height: 40px" class=" g-bg-color-tertiary"></div>
        </div>
        <div class="col-1of4">
            <div style="height: 40px" class=" g-bg-color-quaternary"></div>
        </div>
    </div>

    <h3>Accent Colours</h3>
    <hr class="g-secondary">
    <div class="row margin-bottom">
        <div class="col-1of4">
            <div style="height: 40px" class=" g-bg-color-color-primary-1"></div>
        </div>
        <div class="col-1of4">
            <div style="height: 40px" class=" g-bg-color-color-primary-2"></div>
        </div>
        <div class="col-1of4">
            <div style="height: 40px" class=" g-bg-color-color-primary-3"></div>
        </div>
        <div class="col-1of4">
            <div style="height: 40px" class=" g-bg-color-color-primary-4"></div>
        </div>
    </div>

    <h3>Greys</h3>
    <hr class="g-secondary">
    <div class="row margin-bottom">
        <div class="col-1of4">
            <div style="height: 40px" class=" g-bg-color-color-grey-1"></div>
        </div>
        <div class="col-1of4">
            <div style="height: 40px" class=" g-bg-color-color-grey-2"></div>
        </div>
        <div class="col-1of4">
            <div style="height: 40px" class=" g-bg-color-color-grey-3"></div>
        </div>
         <div class="col-1of4">
            <div style="height: 40px" class=" g-bg-color-color-grey-4"></div>
        </div>
    </div>
    <br><br>
</div>

