
	<div class="g-container-sm g-section-container">
		<h1>Work.</h1>
	</div>

	<div class="g-container-lg g-section-container-last">
		<div class="line margin-bottom">
			<div ng-repeat="i in work" class="g-featured size1of3 unit animated zoomIn">
				<a class="fancy-box-trigger g-img" ng-click="fancyBox(i.count)" id="fancy-box-{{i.count}}" style="background-image:url({{i.image}}); background-size: 80% auto; background-repeat: no-repeat; background-position: center center;">
				</a>
				<div class="g-text">
					<h3>{{i.title}}</h3>
				</div>
				<div>
					<a ng-repeat="image in i.images" class="fancybox fancy-box-{{image.count}}" rel="gallery{{image.count}}" href="{{image.src}}" title="{{image.desc}}"></a>
				</div>
			</div>
		</div>
	</div>

