
	<div class="g-container">
		<h1>Work.</h1>
		<p>I have worked with some amazing clients and have helped create some pretty awesome products. Check out some of my work below.</p>
	</div>

	<div class="g-pagination">
	    <a onclick="" class="g-prev g-disabled"><</a>
	    <a class="g-nums g-active">1</a>
	    <a class="g-nums">2</a>
	    <a class="g-nums">3</a>
	    <a class="g-nums">4</a>
	    <a class="g-nums">5</a>
	    <a class="g-next">></a>
	</div>

<!-- 	<div class="g-container-lg g-filters">
		<h2>Filter work by type:</h2>
        <form>
        	<div class="line">
                <div class="g-form-group g-checkbox unit size1of6">
                    <input type="checkbox" id="checkbox1">
                    <label for="checkbox1"><span>Design</span></label>
                    </div>
                <div class="g-form-group g-checkbox unit size1of6">
                    <input type="checkbox" id="checkbox2">
                    <label for="checkbox2"><span>Developer</span></label>
                    </div>
                <div class="g-form-group g-checkbox unit size1of6">
                    <input type="checkbox" id="checkbox3">
                    <label for="checkbox3"><span>And another!</span></label>
                    </div>
                <div class="g-form-group g-checkbox unit size1of6">
                    <input type="checkbox" id="checkbox4">
                    <label for="checkbox4"><span>Option 1</span></label>
                    </div>
                <div class="g-form-group g-checkbox unit size1of6">
                    <input type="checkbox" id="checkbox5">
                    <label for="checkbox5"><span>Another option</span></label>
                    </div>
                <div class="g-form-group g-checkbox unit size1of6">
                    <input type="checkbox" id="checkbox6">
                    <label for="checkbox6"><span>And another!</span></label>
				</div>
			</div>
		</form>
	</div> -->

	<div class="g-container g-results">
	
		<div class="g-panel  g-work-0">
			<a class="g-img" onclick="openFancyBox('.fancy-box-0');" style="background-image:url(img/work/fhm5.png); background-size: 100% auto; background-repeat: no-repeat; background-position: center center;">
				
			</a>
			<div class="g-text">
				<h2>Fitness Health Match</h2>
				<p>FHMatch is a social networking platform that connects people with a broad range of local fitness, health, and wellness professionals.</p><p>The team at ResIM, including myself, created this custom web application from the ground up.</p>
				<a class="g-btn g-btn-tertiary" onclick="openFancyBox('.fancy-box-0');">See More</a>
								<a target="_blank" href="http://www.fhmatch.com/" class="g-btn g-btn-quaternary">Visit Site<span class="ti-arrow-top-right g-icon-right"></span></a>
							</div>
			<div>
								<a class="fancybox fancy-box-0" rel="gallery0" href="img/work/fhm1.png" title="Fitness Health Match Homepage"></a>
								<a class="fancybox fancy-box-0" rel="gallery0" href="img/work/fhm2.png" title="Create an account screen."></a>
								<a class="fancybox fancy-box-0" rel="gallery0" href="img/work/fhm3.png" title="Browse fitness and health related articles."></a>
								<a class="fancybox fancy-box-0" rel="gallery0" href="img/work/fhm4.png" title="Easily find health and fitness professional in your area."></a>
								<a class="fancybox fancy-box-0" rel="gallery0" href="img/work/fhm5.png" title="Connect with professional to book appointments."></a>
							</div>
		</div>

	
		<div class="g-panel  g-work-1">
			<a class="g-img" onclick="openFancyBox('.fancy-box-1');" style="background-image:url(img/work/redeemer1.png); background-size: 100% auto; background-repeat: no-repeat; background-position: center center;">
				
			</a>
			<div class="g-text">
				<h2>Redeemer University</h2>
				<p>Redeemer University College is an undergraduate university known for providing a high-quality liberal arts and sciences university education.</p><p>The team at ResIM, including myself, created this redesign of their website using Wordpress.</p>
				<a class="g-btn g-btn-tertiary" onclick="openFancyBox('.fancy-box-1');">See More</a>
								<a target="_blank" href="https://www.redeemer.ca/" class="g-btn g-btn-quaternary">Visit Site<span class="ti-arrow-top-right g-icon-right"></span></a>
							</div>
			<div>
								<a class="fancybox fancy-box-1" rel="gallery1" href="img/work/redeemer1.png" title="Redeemer University Homepage"></a>
								<a class="fancybox fancy-box-1" rel="gallery1" href="img/work/redeemer2.png" title="Stories - view and filter testimonials about the College by Students, Alumni and Faculty."></a>
								<a class="fancybox fancy-box-1" rel="gallery1" href="img/work/redeemer3.png" title="Art - Program Page. Learn about programs that the College offers."></a>
								<a class="fancybox fancy-box-1" rel="gallery1" href="img/work/redeemer4.png" title="Admission Counsellors - easily find and contact your admissions counsellor."></a>
								<a class="fancybox fancy-box-1" rel="gallery1" href="img/work/redeemer5.png" title="Campus Tour - Interactive map of different locations around the campus."></a>
								<a class="fancybox fancy-box-1" rel="gallery1" href="img/work/redeemer6.png" title="Redeemer Today - Easily find current events and news happening around the campus."></a>
							</div>
		</div>

	
		<div class="g-panel  g-work-2">
			<a class="g-img" onclick="openFancyBox('.fancy-box-2');" style="background-image:url(img/work/verto1.png); background-size: 100% auto; background-repeat: no-repeat; background-position: center center;">
				
			</a>
			<div class="g-text">
				<h2>Verto360</h2>
				<p>Verto360 is a company from London Ontario that designs, manages, builds and furnishes commercial building interiors.</p><p>The team at ResIM, including myself, created this redesign of their website using Wordpress.</p>
				<a class="g-btn g-btn-tertiary" onclick="openFancyBox('.fancy-box-2');">See More</a>
								<a target="_blank" href="http://verto360.com/" class="g-btn g-btn-quaternary">Visit Site<span class="ti-arrow-top-right g-icon-right"></span></a>
							</div>
			<div>
								<a class="fancybox fancy-box-2" rel="gallery2" href="img/work/verto1.png" title="Verto360 Homepage"></a>
								<a class="fancybox fancy-box-2" rel="gallery2" href="img/work/verto2.png" title="Case Study - highlighting specific projects created by Verto360."></a>
								<a class="fancybox fancy-box-2" rel="gallery2" href="img/work/verto3.png" title="Case Studies - landing page."></a>
								<a class="fancybox fancy-box-2" rel="gallery2" href="img/work/verto4.png" title="Homepage - mobile view."></a>
								<a class="fancybox fancy-box-2" rel="gallery2" href="img/work/verto5.png" title="Contact page - mobile view."></a>
								<a class="fancybox fancy-box-2" rel="gallery2" href="img/work/verto6.png" title="About page - mobile view."></a>
							</div>
		</div>

	
		<div class="g-panel  g-work-3">
			<a class="g-img" onclick="openFancyBox('.fancy-box-3');" style="background-image:url(img/work/bp1.png); background-size: 100% auto; background-repeat: no-repeat; background-position: center center;">
				
			</a>
			<div class="g-text">
				<h2>Build & Price</h2>
				<p>Chrysler's US Build & Price web application in which a user is able to customize a vehicle from engines to paint colours to audio packages. The redesign application was launched across all 5 Chrysler brands.</p><p>I worked on this custom web application as a UI Developer for Autodata Solutions.</p>
				<a class="g-btn g-btn-tertiary" onclick="openFancyBox('.fancy-box-3');">See More</a>
								<a target="_blank" href="http://www.chrysler.com/hostc/bmo/CUC201501/models.do?" class="g-btn g-btn-quaternary">Visit Site<span class="ti-arrow-top-right g-icon-right"></span></a>
							</div>
			<div>
								<a class="fancybox fancy-box-3" rel="gallery3" href="img/work/bp1.png" title="Chrysler trim selector page."></a>
								<a class="fancybox fancy-box-3" rel="gallery3" href="img/work/bp2.png" title="Dodge trim selector page."></a>
								<a class="fancybox fancy-box-3" rel="gallery3" href="img/work/bp3.png" title="Fiat trim selector page."></a>
								<a class="fancybox fancy-box-3" rel="gallery3" href="img/work/bp4.png" title="Jeep trim selector page."></a>
								<a class="fancybox fancy-box-3" rel="gallery3" href="img/work/bp5.png" title="Ram trim selector page."></a>
								<a class="fancybox fancy-box-3" rel="gallery3" href="img/work/bp6.png" title="Chrysler powertrain selections."></a>
								<a class="fancybox fancy-box-3" rel="gallery3" href="img/work/bp7.png" title="Chrysler powertrain selections."></a>
								<a class="fancybox fancy-box-3" rel="gallery3" href="img/work/bp8.png" title="Dodge powertrain selection."></a>
								<a class="fancybox fancy-box-3" rel="gallery3" href="img/work/bp9.png" title="Fiat powertrain selection."></a>
								<a class="fancybox fancy-box-3" rel="gallery3" href="img/work/bp10.png" title="Jeep powertrain selection."></a>
								<a class="fancybox fancy-box-3" rel="gallery3" href="img/work/bp11.png" title="Ram trim selector page."></a>
								<a class="fancybox fancy-box-3" rel="gallery3" href="img/work/bp12.png" title="Chrysler vehicle summary."></a>
								<a class="fancybox fancy-box-3" rel="gallery3" href="img/work/bp13.png" title="Fiat vehicle summary."></a>
								<a class="fancybox fancy-box-3" rel="gallery3" href="img/work/bp14.png" title="Dodge vehicle summary."></a>
								<a class="fancybox fancy-box-3" rel="gallery3" href="img/work/bp15.png" title="Jeep vehicle summary."></a>
								<a class="fancybox fancy-box-3" rel="gallery3" href="img/work/bp16.png" title="Ram vehicle summary."></a>
								<a class="fancybox fancy-box-3" rel="gallery3" href="img/work/bp17.png" title="Chrysler trim selector page - mobile view."></a>
								<a class="fancybox fancy-box-3" rel="gallery3" href="img/work/bp18.png" title="Jeep trim selector page - mobile view."></a>
								<a class="fancybox fancy-box-3" rel="gallery3" href="img/work/bp19.png" title="Jeep powertrain selections page - mobile view."></a>
								<a class="fancybox fancy-box-3" rel="gallery3" href="img/work/bp20.png" title="Chrysler powertrain selections page - mobile view."></a>
								<a class="fancybox fancy-box-3" rel="gallery3" href="img/work/bp21.png" title="Ram vehicle summary - mobile view."></a>
								<a class="fancybox fancy-box-3" rel="gallery3" href="img/work/bp22.png" title="Fiat vehicle summary - mobile view."></a>
								<a class="fancybox fancy-box-3" rel="gallery3" href="img/work/bp23.png" title="Dodge vehicle summary - mobile view."></a>
								<a class="fancybox fancy-box-3" rel="gallery3" href="img/work/bp24.png" title="Chrysler vehicle summary - mobile view."></a>
							</div>
		</div>

	
		<div class="g-panel  g-work-4">
			<a class="g-img" onclick="openFancyBox('.fancy-box-4');" style="background-image:url(img/work/hm1.png); background-size: 100% auto; background-repeat: no-repeat; background-position: center center;">
				
			</a>
			<div class="g-text">
				<h2>Help Me</h2>
				<p>Chrysler's Help Me web application.</p><p>I built this custom web application as Lead UI Developer for Autodata Solutions.</p>
				<a class="g-btn g-btn-tertiary" onclick="openFancyBox('.fancy-box-4');">See More</a>
							</div>
			<div>
								<a class="fancybox fancy-box-4" rel="gallery4" href="img/work/hm1.png" title="Help Me"></a>
								<a class="fancybox fancy-box-4" rel="gallery4" href="img/work/hm2.png" title="Help Me"></a>
								<a class="fancybox fancy-box-4" rel="gallery4" href="img/work/hm3.png" title="Help Me"></a>
								<a class="fancybox fancy-box-4" rel="gallery4" href="img/work/hm4.png" title="Help Me"></a>
								<a class="fancybox fancy-box-4" rel="gallery4" href="img/work/hm5.png" title="Help Me"></a>
								<a class="fancybox fancy-box-4" rel="gallery4" href="img/work/hm6.png" title="Help Me."></a>
								<a class="fancybox fancy-box-4" rel="gallery4" href="img/work/hm7.png" title="Help Me."></a>
								<a class="fancybox fancy-box-4" rel="gallery4" href="img/work/hm8.png" title="Help Me."></a>
								<a class="fancybox fancy-box-4" rel="gallery4" href="img/work/hm9.png" title="Help Me."></a>
								<a class="fancybox fancy-box-4" rel="gallery4" href="img/work/hm10.png" title="Help Me."></a>
								<a class="fancybox fancy-box-4" rel="gallery4" href="img/work/hm11.png" title="Help Me."></a>
							</div>
		</div>

	
		<div class="g-panel  g-work-5">
			<a class="g-img" onclick="openFancyBox('.fancy-box-5');" style="background-image:url(img/work/gc1.png); background-size: 100% auto; background-repeat: no-repeat; background-position: center center;">
				
			</a>
			<div class="g-text">
				<h2>Golf Canada</h2>
				<p>Canadian Golf Course History responsive website featuring an interactive map displaying Canadian golf courses throughout history.</p><p>This custom site was built by the team at ResIM, including myself.</p>
				<a class="g-btn g-btn-tertiary" onclick="openFancyBox('.fancy-box-5');">See More</a>
							</div>
			<div>
								<a class="fancybox fancy-box-5" rel="gallery5" href="img/work/gc1.png" title="Use the interactive map of Canada to see how golf courses have grown, moved or closed though time."></a>
								<a class="fancybox fancy-box-5" rel="gallery5" href="img/work/gc2.png" title="Lean about how to use the site through the onboarding process."></a>
								<a class="fancybox fancy-box-5" rel="gallery5" href="img/work/gc3.png" title="Check out golf courses across Canada at different points in time"></a>
								<a class="fancybox fancy-box-5" rel="gallery5" href="img/work/gc4.png" title="Find out more details on each course."></a>
								<a class="fancybox fancy-box-5" rel="gallery5" href="img/work/gc5.png" title="Mobile view of course details."></a>
								<a class="fancybox fancy-box-5" rel="gallery5" href="img/work/gc6.png" title="Interactive map mobile view."></a>
								<a class="fancybox fancy-box-5" rel="gallery5" href="img/work/gc7.png" title="List view of Canadian courses at specific points in time."></a>
							</div>
		</div>

	
		<div class="g-panel  g-work-6">
			<a class="g-img" onclick="openFancyBox('.fancy-box-6');" style="background-image:url(img/work/confed1.png); background-size: 100% auto; background-repeat: no-repeat; background-position: center center;">
				
			</a>
			<div class="g-text">
				<h2>Confederation College</h2>
				<p>Confederation College Prototype created as a starting point for the new site.</p><p>I built this prototype for ResIM as a starting point for the new website.</p>
				<a class="g-btn g-btn-tertiary" onclick="openFancyBox('.fancy-box-6');">See More</a>
								<a target="_blank" href="http://www.confederationc.on.ca/" class="g-btn g-btn-quaternary">Visit Site<span class="ti-arrow-top-right g-icon-right"></span></a>
							</div>
			<div>
								<a class="fancybox fancy-box-6" rel="gallery6" href="img/work/confed1.png" title="Homepage"></a>
								<a class="fancybox fancy-box-6" rel="gallery6" href="img/work/confed2.png" title="Program Page"></a>
								<a class="fancybox fancy-box-6" rel="gallery6" href="img/work/confed3.png" title="Homepage Mobile View"></a>
								<a class="fancybox fancy-box-6" rel="gallery6" href="img/work/confed4.png" title="Program Page Mobile View"></a>
								<a class="fancybox fancy-box-6" rel="gallery6" href="img/work/confed5.png" title="Global Style Guide - information for developers."></a>
							</div>
		</div>

	
		<div class="g-panel  g-work-7">
			<a class="g-img" onclick="openFancyBox('.fancy-box-7');" style="background-image:url(img/work/hc3.png); background-size: 100% auto; background-repeat: no-repeat; background-position: center center;">
				
			</a>
			<div class="g-text">
				<h2>Huron County</h2>
				<p>Huron County Prototype.</p><p>I built this prototype for ResIM created for a redesign proposal.</p>
				<a class="g-btn g-btn-tertiary" onclick="openFancyBox('.fancy-box-7');">See More</a>
							</div>
			<div>
								<a class="fancybox fancy-box-7" rel="gallery7" href="img/work/hc3.png" title="Homepage"></a>
								<a class="fancybox fancy-box-7" rel="gallery7" href="img/work/hc4.png" title="Inner page example"></a>
								<a class="fancybox fancy-box-7" rel="gallery7" href="img/work/hc5.png" title="Secondary inner page example"></a>
								<a class="fancybox fancy-box-7" rel="gallery7" href="img/work/hc6.png" title="Events"></a>
								<a class="fancybox fancy-box-7" rel="gallery7" href="img/work/hc1.png" title="Huron country, Homepage in Mobile View."></a>
								<a class="fancybox fancy-box-7" rel="gallery7" href="img/work/hc2.png" title="Event listings, mobile view."></a>
								<a class="fancybox fancy-box-7" rel="gallery7" href="img/work/hc7.png" title="Global style guide for developers - buttons."></a>
								<a class="fancybox fancy-box-7" rel="gallery7" href="img/work/hc8.png" title="Global style guide for developers - canendars and pagination."></a>
							</div>
		</div>

	
		<div class="g-panel  g-work-8">
			<a class="g-img" onclick="openFancyBox('.fancy-box-8');" style="background-image:url(img/work/ztr1.png); background-size: 100% auto; background-repeat: no-repeat; background-position: center center;">
				
			</a>
			<div class="g-text">
				<h2>ZTR</h2>
				<p>ZTR Prototype.</p><p>I built this prototype for ResIM created for a redesign proposal of their web application.</p>
				<a class="g-btn g-btn-tertiary" onclick="openFancyBox('.fancy-box-8');">See More</a>
							</div>
			<div>
								<a class="fancybox fancy-box-8" rel="gallery8" href="img/work/ztr1.png" title="Homepage - Assets."></a>
								<a class="fancybox fancy-box-8" rel="gallery8" href="img/work/ztr2.png" title="Advanced search - use filters to narrow down your search."></a>
								<a class="fancybox fancy-box-8" rel="gallery8" href="img/work/ztr3.png" title="Assets - mobile list view."></a>
								<a class="fancybox fancy-box-8" rel="gallery8" href="img/work/ztr4.png" title="Assets - mobile map view."></a>
								<a class="fancybox fancy-box-8" rel="gallery8" href="img/work/ztr5.png" title="Advanced search - mobile view."></a>
								<a class="fancybox fancy-box-8" rel="gallery8" href="img/work/ztr6.png" title="Global Style Guide."></a>
								<a class="fancybox fancy-box-8" rel="gallery8" href="img/work/ztr7.png" title="Global Style Guide - buttons."></a>
								<a class="fancybox fancy-box-8" rel="gallery8" href="img/work/ztr8.png" title="Global Style Guide - forms."></a>
							</div>
		</div>

	
		<div class="g-panel  g-work-9">
			<a class="g-img" onclick="openFancyBox('.fancy-box-9');" style="background-image:url(img/work/ni1.png); background-size: 100% auto; background-repeat: no-repeat; background-position: center center;">
				
			</a>
			<div class="g-text">
				<h2>Nissan Infiniti Pricing Tool</h2>
				<p>Prototype and global style guide.</p><p>I built this prototype and style guide for Autodata Solutions as a starting point for the web application.</p>
				<a class="g-btn g-btn-tertiary" onclick="openFancyBox('.fancy-box-9');">See More</a>
							</div>
			<div>
								<a class="fancybox fancy-box-9" rel="gallery9" href="img/work/ni1.png" title="Homepage"></a>
								<a class="fancybox fancy-box-9" rel="gallery9" href="img/work/ni2.png" title="Homepage, mobile view."></a>
								<a class="fancybox fancy-box-9" rel="gallery9" href="img/work/ni3.png" title="Nissan Infiniti Pricing Tool - inner page, Metrics."></a>
								<a class="fancybox fancy-box-9" rel="gallery9" href="img/work/ni4.png" title="Global style guide - datepicker."></a>
								<a class="fancybox fancy-box-9" rel="gallery9" href="img/work/ni5.png" title="Global style guide - tables."></a>
								<a class="fancybox fancy-box-9" rel="gallery9" href="img/work/ni6.png" title="Global style guide - buttons."></a>
							</div>
		</div>

	
		<div class="g-panel  g-work-10">
			<a class="g-img" onclick="openFancyBox('.fancy-box-10');" style="background-image:url(img/work/wr2.png); background-size: 100% auto; background-repeat: no-repeat; background-position: center center;">
				
			</a>
			<div class="g-text">
				<h2>Wired Rooms</h2>
				<p>An interior decorating Web Application.</p><p>I built and designed this web application, built for iPads, as my thesis project while attending Fanshawe college.</p>
				<a class="g-btn g-btn-tertiary" onclick="openFancyBox('.fancy-box-10');">See More</a>
							</div>
			<div>
								<a class="fancybox fancy-box-10" rel="gallery10" href="img/work/wr1.png" title="Homepage - help section."></a>
								<a class="fancybox fancy-box-10" rel="gallery10" href="img/work/wr2.png" title="Library of inspirational images."></a>
								<a class="fancybox fancy-box-10" rel="gallery10" href="img/work/wr3.png" title="Browse furniture to add to your project."></a>
								<a class="fancybox fancy-box-10" rel="gallery10" href="img/work/wr4.png" title="Browse pantone colours to add to your project."></a>
								<a class="fancybox fancy-box-10" rel="gallery10" href="img/work/wr5.png" title="Browse flooring to add to your project."></a>
								<a class="fancybox fancy-box-10" rel="gallery10" href="img/work/wr6.png" title="View of your current project."></a>
								<a class="fancybox fancy-box-10" rel="gallery10" href="img/work/wr7.png" title="View of the items you have added to your favorites."></a>
								<a class="fancybox fancy-box-10" rel="gallery10" href="img/work/wr8.png" title="Learn more about the products and where you can purchase them."></a>
								<a class="fancybox fancy-box-10" rel="gallery10" href="img/work/wr9.png" title="Create a virtual room using your items."></a>
							</div>
		</div>

	
		<div class="g-panel  g-work-11">
			<a class="g-img" onclick="openFancyBox('.fancy-box-11');" style="background-image:url(img/work/promo1.png); background-size: 100% auto; background-repeat: no-repeat; background-position: center center;">
				
			</a>
			<div class="g-text">
				<h2>Wired Rooms Promotional Website</h2>
				<p>I designed and built this promotional website for my thesis while attending Fanshawe College.</p>
				<a class="g-btn g-btn-tertiary" onclick="openFancyBox('.fancy-box-11');">See More</a>
							</div>
			<div>
								<a class="fancybox fancy-box-11" rel="gallery11" href="img/work/promo1.png" title="Wired Rooms Promotional Website"></a>
								<a class="fancybox fancy-box-11" rel="gallery11" href="img/work/promo2.png" title="Intro screen with video for Wired Rooms Promotional Website"></a>
							</div>
		</div>

	
		<div class="g-panel  g-work-12">
			<a class="g-img" onclick="openFancyBox('.fancy-box-12');" style="background-image:url(img/work/p6.png); background-size: 100% auto; background-repeat: no-repeat; background-position: center center;">
				
			</a>
			<div class="g-text">
				<h2>Portage</h2>
				<p>Mobile application design for Portage, a Basecamp application, and promotional site build.</p><p>I built and designed this website and designed the mobile app, Portage.</p>
				<a class="g-btn g-btn-tertiary" onclick="openFancyBox('.fancy-box-12');">See More</a>
							</div>
			<div>
								<a class="fancybox fancy-box-12" rel="gallery12" href="img/work/p6.png" title="Promotional website for Portage"></a>
								<a class="fancybox fancy-box-12" rel="gallery12" href="img/work/p1.png" title="View and organize your projects."></a>
								<a class="fancybox fancy-box-12" rel="gallery12" href="img/work/p2.png" title="View all of your to-do lists on one screen, and quickly see where recent changes have been made."></a>
								<a class="fancybox fancy-box-12" rel="gallery12" href="img/work/p3.png" title="Check out the to-dos from each list by selecting the list. You instantly know how many commments have been made, if there are new comments and when the due date is."></a>
								<a class="fancybox fancy-box-12" rel="gallery12" href="img/work/p4.png" title="View, search or filter comments with Portage. You are also able to preview files and post comments of your own."></a>
								<a class="fancybox fancy-box-12" rel="gallery12" href="img/work/p5.png" title="Sign-in screen."></a>
							</div>
		</div>

	
		<div class="g-panel  g-work-13">
			<a class="g-img" onclick="openFancyBox('.fancy-box-13');" style="background-image:url(img/work/a1.png); background-size: 100% auto; background-repeat: no-repeat; background-position: center center;">
				
			</a>
			<div class="g-text">
				<h2>Autodata Solutions Prototype</h2>
				<p>I created this sample responsive website built with Twitter Bootstrap for Autodata Solutions.</p>
				<a class="g-btn g-btn-tertiary" onclick="openFancyBox('.fancy-box-13');">See More</a>
							</div>
			<div>
								<a class="fancybox fancy-box-13" rel="gallery13" href="img/work/a1.png" title="Homepage"></a>
								<a class="fancybox fancy-box-13" rel="gallery13" href="img/work/a2.png" title="About Page"></a>
								<a class="fancybox fancy-box-13" rel="gallery13" href="img/work/a3.png" title="Inner contnt page"></a>
							</div>
		</div>

	
	</div>

	<div class="g-pagination">
		<a href="<br />
<b>Notice</b>:  Undefined variable: _PHP_SELF in <b>/Users/Justine/Desktop/prototypes/new/work.php</b> on line <b>252</b><br />
?page=1" class="g-prev "><<</a>
        <a href="<br />
<b>Notice</b>:  Undefined variable: _PHP_SELF in <b>/Users/Justine/Desktop/prototypes/new/work.php</b> on line <b>253</b><br />
?page=0" class="g-prev "><</a>
        <a href="<br />
<b>Notice</b>:  Undefined variable: _PHP_SELF in <b>/Users/Justine/Desktop/prototypes/new/work.php</b> on line <b>254</b><br />
?page=1" class="g-nums ">1</a>
        <a href="<br />
<b>Notice</b>:  Undefined variable: _PHP_SELF in <b>/Users/Justine/Desktop/prototypes/new/work.php</b> on line <b>255</b><br />
?page=2" class="g-nums ">2</a>
        <a href="<br />
<b>Notice</b>:  Undefined variable: _PHP_SELF in <b>/Users/Justine/Desktop/prototypes/new/work.php</b> on line <b>256</b><br />
?page=3" class="g-nums ">3</a>
        <a href="<br />
<b>Notice</b>:  Undefined variable: _PHP_SELF in <b>/Users/Justine/Desktop/prototypes/new/work.php</b> on line <b>257</b><br />
?page=4" class="g-nums ">4</a>
        <a href="<br />
<b>Notice</b>:  Undefined variable: _PHP_SELF in <b>/Users/Justine/Desktop/prototypes/new/work.php</b> on line <b>258</b><br />
?page=1" class="g-next ">></a>
        <a href="<br />
<b>Notice</b>:  Undefined variable: _PHP_SELF in <b>/Users/Justine/Desktop/prototypes/new/work.php</b> on line <b>259</b><br />
?page=4" class="g-next ">>></a>
    </div>
