/* ==========================================================================
   General Styling
   ========================================================================== */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


// Body reset

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $body-font;
  color: $text-color;
  background-color: $body-bg-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $body-font-weight;
  padding:0;
  margin:0;
  overflow-x: hidden;
  b, strong{
    font-weight: $body-font-weight-bold;
  }
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


// Links

a {
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  @extend .transition;
  &:hover, &:focus, &:active {
    color: $link-hover-color;
    text-decoration: none;
  }
  &.g-disabled {
    opacity: .5;
    pointer-events: none;
  }
}

a.g-external-link{
  text-decoration: none;
  &:hover{
    span.ti-arrow-top-right{
      position: absolute;
      @extend .transition;
      font-size: 1.2em;
      line-height: 1em;
    }
  }
}

a.cta{
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 4px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: $heading-font;
  i{
    margin-left: 5px;
    @extend .transition;
    color: $primary-1;
  }
  &:hover{
    margin-right: 15px;
    i{
      margin-left: 10px;
    }
  }
}


hr{
  border: none;
  border-top: 1px solid $border-color;
  margin: 0.7em 0 1.5em;
  &.g-secondary{
    border-top: 1px solid $border-color-2;
  }
}

p{
  margin: 0 0 .4em;
}

//lists

ul, ol{
  margin: 0 0 1.4em 0;
  li{
    margin-bottom: 0.7em;
  }
  ul, ol{
    margin: 0.7em 0 0 0;
  }
}

img{
  max-width: 100%;
}


