/* ==========================================================================
   Breadcrumbs
   ========================================================================== */

.g-breadcrumb.g-light{
	color: $bg-color-2;
	a{
		color: #fff;
	}
	span.ion-ios-arrow-forward{
		margin: 0 .5em;
		color: $bg-color-2;
	}	
}