/* ==========================================================================
   Cards
   ========================================================================== */


//note - background-position: center center; should be added back to .g-card-img-header and anywhere else there is background-size: cover; to center the card images. 
.g-card-img-header{
	background-position: center center; 
}

a.g-card-img-header{
	&:hover, &:focus{
		opacity: .6;
	}
}

@media (min-width: $min-break-mobile) and (max-width: $max-break-tablet){
	.g-card.g-news.g-news-primary{
		.g-card-img-header{
			height: 300px;
			background-position: center center; 
		}
	}
}

.g-quote-card{
	margin: 2em 0;
	background-image: url('../../img/card-wave.png');
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
	blockquote{
        padding: 1.5em 3em 1.5em 6em;
    	margin: 0;
	    @media (max-width: $max-break-mobile) {
	    	padding: 1em;
	    }
	    p{
	    	margin-top: 0;
	        color: $text-color-secondary;
	        font-size: 1.3em;
	        line-height: $heading-line-height;
	        font-style: italic;
	    }
        .g-cite{
            margin-top: 1em;
            color: $brand-2;
            font-weight: 600;
        }
	}
}
