/* ==========================================================================
   Homepage Specific Styles
   ========================================================================== */

#map{
	height: 100%;
	width: 100%;
    z-index: -2;
    position: absolute !important;
    top: 70px;
    opacity: .15;
}

body.contact{
	.contact-body{
		min-height: 600px;
	}
}

.sending-msg{
	text-align: center;
	width: 100%;
	p{
		margin-top: 20px;
	}
}