/* ==========================================================================
   Homepage Specific Styles
   ========================================================================== */


.g-web-section, .g-app-section, .g-guide-section{
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	h2{
		margin-top: 150px !important;
	}
	@media (max-width: $max-break-tablet) {
		max-width: 700px;
		margin: 0px auto;
		padding-top: 3rem;
		padding-bottom: 3rem;
		h2{
			margin-top: 0px !important;
		}
		img{
			margin-top: 1rem;
		}
	}
}