/* ==========================================================================
   Work page Specific Styles
   ========================================================================== */

//work page samples
.g-featured{
	padding-bottom: 8em;
	padding-top: 1rem;
	@extend .transition;
	&:last-child{
		padding-bottom: 3em;
	}
	p.desc{
		margin: 10px 0 15px;
	}
	h2{
		margin-top: 0;
		margin-bottom: 0;
		font-size: 35px;
		line-height: 40px;
	}
	@media (max-width: $max-break-tablet) {
		padding-bottom: 3em;
		padding-top: 0rem;
		&:last-child{
			padding-bottom: 1em;
		}
	}
	.g-img{
		width: 100%;
		cursor: pointer;
    position: relative;
    display: block;
    transform: scale(1.3);
    margin-left: -10%;
    @extend .transition;
    animation-fill-mode: none;
    &:hover{
    	transform: scale(1.4);
    }
    @media (max-width: $max-break-tablet) {
    	transform: scale(1);
    	margin-left: 0;
    	&:hover{
    		transform: scale(1);
    	}
    }
	}
}