
.icon-alert:before { content: '\e800'; } /* '' */
.icon-arrowdown:before { content: '\e801'; } /* '' */
.icon-arrowup:before { content: '\e802'; } /* '' */
.icon-battery:before { content: '\e803'; } /* '' */
.icon-can:before { content: '\e804'; } /* '' */
.icon-close:before { content: '\e805'; } /* '' */
.icon-control:before { content: '\e806'; } /* '' */
.icon-edit:before { content: '\e807'; } /* '' */
.icon-expandtoleft:before { content: '\e808'; } /* '' */
.icon-expandtoright:before { content: '\e809'; } /* '' */
.icon-faulting:before { content: '\e80a'; } /* '' */
.icon-fav:before { content: '\e80b'; } /* '' */
.icon-fuel:before { content: '\e80c'; } /* '' */
.icon-location:before { content: '\e80d'; } /* '' */
.icon-maintenance:before { content: '\e80e'; } /* '' */
.icon-menu:before { content: '\e80f'; } /* '' */
.icon-location-1:before { content: '\e810'; } /* '' */
.icon-circle:before { content: '\e811'; } /* '' */
.icon-menu-1:before { content: '\e812'; } /* '' */
.icon-message:before { content: '\e813'; } /* '' */
.icon-notify:before { content: '\e814'; } /* '' */
.icon-oil:before { content: '\e815'; } /* '' */
.icon-open:before { content: '\e816'; } /* '' */
.icon-pin:before { content: '\e817'; } /* '' */
.icon-plus:before { content: '\e818'; } /* '' */
.icon-power:before { content: '\e819'; } /* '' */
.icon-time:before { content: '\e81a'; } /* '' */
.icon-minus:before { content: '\e81b'; } /* '' */
.icon-unfave:before { content: '\e81c'; } /* '' */
.icon-voltage:before { content: '\e81d'; } /* '' */
.icon-zoomin:before { content: '\e81e'; } /* '' */
.icon-checkmark:before { content: '\e820'; } /* '' */
.icon-analytics:before { content: '\e822'; } /* '' */
.icon-globe:before { content: '\e823'; } /* '' */
.icon-grid:before { content: '\e824'; } /* '' */
.icon-help:before { content: '\e825'; } /* '' */
.icon-left:before { content: '\e826'; } /* '' */
.icon-right:before { content: '\e827'; } /* '' */
.icon-list:before { content: '\e828'; } /* '' */
.icon-locate:before { content: '\e829'; } /* '' */
.icon-profile:before { content: '\e82a'; } /* '' */
.icon-save:before { content: '\e82b'; } /* '' */
.icon-search:before { content: '\e82c'; } /* '' */
.icon-settings:before { content: '\e82d'; } /* '' */
.icon-speed:before { content: '\e82e'; } /* '' */
.icon-stopwatch:before { content: '\e82f'; } /* '' */
.icon-switch:before { content: '\e830'; } /* '' */