/* ==========================================================================
   Tables
   ========================================================================== */

table.g-table{
    table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	border-spacing:2px 0;
	thead, tbody, tfoot, tr, th, td{
	    margin: 0;
	    padding: 0;
	    border: none;
	    border-color: inherit;
	    vertical-align: top;
	    text-align: left;
	}
	th{
		font-weight: normal;
		font-family: $eau-bold;
	}
	tbody{
		font-weight: normal;
	    font-weight: inherit;
	}
	&.g-table-striped{
		th, td{
		    padding: $table-padding;
		}
	}
	&.g-table-bordered{
		tbody tr {
			background-image: linear-gradient(to right, $grey-5 33%, rgba(255,255,255,0) 0%);
			background-position: top;
			background-size: 5px 2px;
			background-repeat: repeat-x;
		}
	}
	&.g-table-hover{
		>tbody>tr:hover {
			@extend .transition;
		    background-color: $table-hover-bg-color;
		}
	}
}