<div class="headers-container">
	<div class="search-section">
		<div class="g-container g-clearfix">
			<div class="row">
				<a class="close-btn ion-close-round"></a>
			    <div class="col-2of3">
			    	<p>Popular pages</p>
			        <a class="g-btn-3 g-btn-sm">Directory</a>
			        <a class="g-btn-3 g-btn-sm">Financial Aid</a>
			        <a class="g-btn-3 g-btn-sm">Campus Directory</a>
			        <a class="g-btn-3 g-btn-sm">Campus Tour</a>
			    </div>
			    <div class="col-1of3 sm-1of2">
			        <p>What can we help you find?</p>
		        	<form>
				        <div class="g-hidden-labels">
			                <label for="searchInput">Search SAIT:</label>
			                <input type="text" class="g-form-control" id="searchInput" name="searchInput" placeholder="Search SAIT">
			            </div>
		            </form>
			    </div>
		    </div>
		</div>
	</div>
	<div class="recently-viewed">
		<div class="g-container g-clearfix">
			<div class="row">
				<a class="close-btn ion-close-round"></a>
			    <div class="col-1of1">
			    	<p>7 Recently Viewed Programs <a class="g-btn-4 g-btn-sm g-pull-right"><span class="g-icon-left ion-android-download"></span>Download PDF</a></p>
			    	<div class="g-group g-check">
					    <a href="/applied-business-administration" class="g-btn-3 g-btn-sm">Bachelor of Applied Business Administration</a>
					    <a class="g-btn-3 g-btn-sm toggleCheck"><span class="ion-android-cancel"></span></a>
					</div>
					<div class="g-group g-check">
					    <a class="g-btn-3 g-btn-sm">Business Administration</a>
					    <a class="g-btn-3 g-btn-sm toggleCheck"><span class="ion-android-cancel"></span></a>
					</div>
					<div class="g-group g-check">
					    <a class="g-btn-3 g-btn-sm">Bachelor of Science Construction Project Management</a>
					    <a class="g-btn-3 g-btn-sm toggleCheck"><span class="ion-android-cancel"></span></a>
					</div>
					<div class="g-group g-check">
					    <a class="g-btn-3 g-btn-sm">Civil Engineering Technology</a>
					    <a class="g-btn-3 g-btn-sm toggleCheck"><span class="ion-android-cancel"></span></a>
					</div>
					<div class="g-group g-check">
					    <a class="g-btn-3 g-btn-sm">Engineering Design and Drafting Technology</a>
					    <a class="g-btn-3 g-btn-sm toggleCheck"><span class="ion-android-cancel"></span></a>
					</div>
					<div class="g-group g-check">
					    <a class="g-btn-3 g-btn-sm">Dental Assisting</a>
					    <a class="g-btn-3 g-btn-sm toggleCheck"><span class="ion-android-cancel"></span></a>
					</div>
					<div class="g-group g-check">
					    <a class="g-btn-3 g-btn-sm">Network Technician</a>
					    <a class="g-btn-3 g-btn-sm toggleCheck"><span class="ion-android-cancel"></span></a>
					</div>
			    </div>
		    </div>
		</div>
	</div>
	<header class="g-header">
		<div class="g-container g-clearfix">
			<div class="logo-sm">
				<a href="/work/sait"><img src="img/logo-sm.png" alt="logo"></a>
			</div>
			<div class="logo box-shadow">
				<a href="/work/sait"><img src="img/logo.png" alt="logo"></a>
			</div>
			<div class="row secondary-menu-row">
				<div class="col-1of1">
					<ul class="secondary-menu">
						<li><a class="recentlyViewedToggle"><span class="ion-eye g-icon-left"></span>Recently Viewed</a></li>
						<li><a class="tooltip-login"><span class="ion-locked g-icon-left"></span>Login<span class="ion-ios-arrow-down g-icon-right"></span></a></li>

						<li class="search searchToggle"><a title="search"><span class="ion-search"></span></a></li>
					</ul>
				</div>
			</div>
			<div class="row main-menu-row">
				<div class="col-1of1">
					<div class="navToggle"><a class="g-tab-toggle ion-navicon-round"></a></div>
					<ul class="main-menu">
						<li>
							<a href="programs">Programs & Courses</a>
							<span class="ion-chevron-down mobileNavToggle"></span>
							<div class="mega-menu">
								<div class="g-container">
									<div class="row">
									    <div class="col-1of4 sm-1of2">
											<ul class="g-primary-list">
												<li><a href="programs">View Programs A-Z</a></li>
												<li><a href="programs?tab=courses">View Courses A-Z</a></li>
												<li><a href="continuing-education">Continuing Education</a></li>
												<li><a>Distance Learning</a></li>
												<li><a href="apprenticeships">Apprenticeships & Trades</a></li>
											</ul>
									    </div>
									    <div class="col-1of4 sm-1of2">
								        	<div class="title">Other</div>
											<ul class="g-secondary-list">
												<li><a>Academic Upgrading</a></li>
												<li><a>Dual-Credit Programs</a></li>
												<li><a>English Language Foundations</a></li>
												<li><a>Career Match<span class="ion-forward g-icon-right"></span></a></li>
											</ul>
									    </div>
									    <div class="col-1of4 sm-1of2">
								        	<div class="title">Corporate Training</div>
											<ul class="g-secondary-list">
												<li><a>Search for a Course</a></li>
												<li><a>Register Now</a></li>
												<li><a>Skills Builder</a></li>
												<li><a class="all-link">Overview<span class="ion-ios-arrow-forward g-icon-right"></span></a></li>
											</ul>
									    </div>
									    <div class="col-1of4 sm-1of2">
								        	<div class="title">More Offerings</div>
											<ul class="g-secondary-list">
												<li><a>Culinary Campus</a></li>
												<li><a>Summer Camps</a></li>
											</ul>
									    </div>
								    </div>
							    </div>
							</div>
						</li>
						<li>
							<a href="/admissions">Admissions</a>
							<span class="ion-chevron-down mobileNavToggle"></span>
							<div class="mega-menu">
								<div class="g-container">
									<div class="row">
										<div class="col-1of4 sm-1of2">
											<ul class="g-primary-list">
												<li><a>Admission & Selection</a></li>
												<li><a href="how-to-apply">How to Apply</a></li>
												<li><a>Transcripts and/or Documentations</a></li>
												<li><a>Testing Services</a></li>
												<li><a>After You Apply</a></li>
											</ul>
									    </div>
									    <div class="col-1of4 sm-1of2">
								        	<div class="title">International Students</div>
											<ul class="g-secondary-list">
												<li><a>International Document Assessment</a></li>
												<li><a>International Tuition & Fees</a></li>
												<li><a href="international-students" class="all-link">Overview<span class="ion-ios-arrow-forward g-icon-right"></span></a></li>
											</ul>
									    </div>
									    <div class="col-1of4 sm-1of2">
								        	<div class="title">Paying for It</div>
											<ul class="g-secondary-list">
												<li><a>Tuition & Fee Table</a></li>
												<li><a>Student Loans</a></li>
												<li><a>Student Awards Scholarships</a></li>
												<li><a>Grants, Funding & Bursaries</a></li>
												<li><a href="paying-for-it" class="all-link">More Financial Information<span class="ion-ios-arrow-forward g-icon-right"></span></a></li>
											</ul>
									    </div>
									    <div class="col-1of4 sm-1of2">
								        	<div class="title">Dates & Deadlines</div>
							        		<a class="g-event-listing g-sm">
												<div class="g-date">
													<span>Apr</span>
													<span>11</span>
												</div>
												<div class="g-info">
													Fee payment deadline for new students starting in...
												</div>
							        		</a>
							        		<a class="g-event-listing g-sm">
												<div class="g-date">
													<span>Apr</span>
													<span>15</span>
												</div>
												<div class="g-info">
													Fee payment deadline for new students starting in...
												</div>
							        		</a>
											<ul class="g-secondary-list">
												<li><a class="all-link">View All<span class="ion-ios-arrow-forward g-icon-right"></span></a></li>
											</ul>
									    </div>
								    </div>
							    </div>
							</div>
						</li>
						<li>
							<a href="/student-resources">Student Resources</a>
							<span class="ion-chevron-down mobileNavToggle"></span>
							<div class="mega-menu">
								<div class="g-container">
									<div class="row">
										<div class="col-1of4 sm-1of2">
								        	<div class="title">Academic Services</div>
											<ul class="g-secondary-list">
												<li><a>Learning Skills Services</a></li>
												<li><a>Prior Learning Assessment & Recognition</a></li>
												<li><a>Library<span class="ion-forward g-icon-right"></span></a></li>
												<li><a>Accessibility</a></li>
												<li><a class="all-link">View All<span class="ion-ios-arrow-forward g-icon-right"></span></a></li>
											</ul>
									    </div>
									    <div class="col-1of4 sm-1of2">
								        	<div class="title">Health, Wellness & Security</div>
											<ul class="g-secondary-list">
												<li><a>Student Health & Dental</a></li>
												<li><a>Student Development Counselling</a></li>
												<li><a>Safewalk</a></li>
												<li><a>Campus Security</a></li>
												<li><a class="all-link">View All<span class="ion-ios-arrow-forward g-icon-right"></span></a></li>
											</ul>
									    </div>
									    <div class="col-1of4 sm-1of2">
								        	<div class="title">Student Life</div>
											<ul class="g-secondary-list">
												<li><a>SAIT Recreation</a></li>
												<li><a>SAIT Bookstore</a></li>
												<li><a>Food Services</a></li>
												<li><a>Housing</a></li>
												<li><a class="all-link">View All<span class="ion-ios-arrow-forward g-icon-right"></span></a></li>
											</ul>
									    </div>
									    <div class="col-1of4 sm-1of2">
								        	<div class="title">Services for Students</div>
											<ul class="g-secondary-list">
												<li><a>Helpline</a></li>
												<li><a>Computers, Network Access & Technical Support</a></li>
												<li><a>Transcripts & Credentials</a></li>
												<li><a>Student Employment Services</a></li>
												<li><a href="services-for-students" class="all-link">View All<span class="ion-ios-arrow-forward g-icon-right"></span></a></li>
											</ul>
									    </div>
								    </div>
							    </div>
							</div>
						</li>
						<li>
							<a href="about-sait">About SAIT</a>
							<span class="ion-chevron-down mobileNavToggle"></span>
							<div class="mega-menu">
								<div class="g-container">
									<div class="row">
										<div class="col-1of4 sm-1of2">
								        	<div class="title">Campus</div>
											<ul class="g-secondary-list">
												<li><a href="campus-map">Campus Map</a></li>
												<li><a>Parking Rates & Transportation</a></li>
												<li><a>Campus Security</a></li>
												<li><a href="contact-us">Contact Us</a></li>
												<li><a href="campus" class="all-link">SAIT Campus<span class="ion-ios-arrow-forward g-icon-right"></span></a></li>
											</ul>
									    </div>
									    <div class="col-1of4 sm-1of2">
								        	<div class="title">Who We Are</div>
											<ul class="g-secondary-list">
												<li><a>History of SAIT</a></li>
												<li><a>Schools</a></li>
												<li><a>Research & Innovation</a></li>
												<li><a href="news-and-events">News & Events</a></li>
												<li><a href="media-centre">Media Centre</a></li>
												<li><a href="work-at-sait">Work at SAIT</a></li>
											</ul>
									    </div>
									    <div class="col-1of4 sm-1of2">
								        	<div class="title">Administration</div>
											<ul class="g-secondary-list">
												<li><a>Awards</a></li>
												<li><a>Departments</a></li>
												<li><a>Governance</a></li>
												<li><a>Policies & Procedures</a></li>
												<li><a class="all-link">View All<span class="ion-ios-arrow-forward g-icon-right"></span></a></li>
											</ul>
									    </div>
									    <div class="col-1of4 sm-1of2">
								        	<div class="title">Events</div>
								        	<a class="g-event-listing g-sm">
												<div class="g-date">
													<span>Apr</span>
													<span>01</span>
												</div>
												<div class="g-info">
													Free Info Session: Chemical Engineering Technology
												</div>
							        		</a>
							        		<a class="g-event-listing g-sm">
												<div class="g-date">
													<span>Apr</span>
													<span>02</span>
												</div>
												<div class="g-info">
													Info Session: Energy Asset Management
												</div>
							        		</a>
											<ul class="g-secondary-list">
												<li><a href="events" class="all-link">View All<span class="ion-ios-arrow-forward g-icon-right"></span></a></li>
											</ul>
									    </div>
								    </div>
							    </div>
							</div>
						</li>
						<li>
							<a href="alumni">Alumni</a>
							<span class="ion-chevron-down mobileNavToggle"></span>
							<div class="mega-menu">
								<div class="g-container">
									<div class="row">
										<div class="col-1of4 g-empty">

										</div>
										<div class="col-1of4 sm-1of2">
											<ul class="g-primary-list">
												<li><a href="news">Alumni News</a></li>
												<li><a>Distinguished & Outstanding Alumni</a></li>
												<li><a>Alumni Perks</a></li>
												<li><a>Student Awards</a></li>
												<li><a>Stay Connected</a></li>
											</ul>
									    </div>
									    <div class="col-1of4 sm-1of2">
								        	<div class="title">Donors</div>
											<ul class="g-secondary-list">
												<li><a>Donate to SAIT</a></li>
												<li><a>Gifts at Work</a></li>
												<li><a>Giving Clubs</a></li>
												<li><a>Reports to Donors</a></li>
												<li><a>FAQs</a></li>
												<li><a href="donors" class="all-link">View All<span class="ion-ios-arrow-forward g-icon-right"></span></a></li>
											</ul>
									    </div>
									    <div class="col-1of4 sm-1of2">
								        	<div class="title">Alumni Events</div>
								        	<div class="g-timely-event-list">
									        	<a class="g-event-listing g-sm">
												<div class="g-date">
													<span>Apr</span>
													<span>11</span>
												</div>
												<div class="g-info">
													Free Info Session: Chemical Engineering Technology
												</div>
							        		</a>
							        		<a class="g-event-listing g-sm">
												<div class="g-date">
													<span>Apr</span>
													<span>30</span>
												</div>
												<div class="g-info">
													Info Session: Energy Asset Management
												</div>
							        		</a>
											</div>
											<ul class="g-secondary-list">
												<li><a class="all-link">View All<span class="ion-ios-arrow-forward g-icon-right"></span></a></li>
											</ul>
									    </div>
								    </div>
							    </div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>
</div>